{% extends "care/base.html"  %}
{% load i18n %}
{% block content %}
<form class="form-signin text-center" method="post">
{% csrf_token %}

	<h1 class="form-signin-heading">{% trans "Activation" %}</h1>
	<h2>{% trans "Hello" %} {{ account }}!</h2>
	<h4 class="form-signin-heading">{% trans "Your account is successful activated!" %} <a href="/care/myinfo">{% trans "Continue" %}</a> {% trans "now!" %}</h4>

	
</form>

<script language="javascript" type="text/javascript">
     <!--
     window.setTimeout('window.location="/care"; ',2800);
     // -->
 </script>

{% endblock %}