{% extends 'care/base.html' %}
{% load i18n %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-6 visible-md visible-lg">
    	<img src="{{STATIC_URL}}img/help-ua.jpg" alt="ATO.care" class="img-responsive img-rounded">
    </div>
    <div class="col-md-6">
    	<br />
    	<br />
    	<br />
		<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}

			{% if form.errors %}
			<p><i class="fa fa-info-circle fa-1x"></i>&nbsp;{% trans "Your username and password didn't match. Please try again." %}</p>
			{% endif %}

			<h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
				

			<input type="text" class="form-control" placeholder="Username" required="" autofocus="" maxlength="254" name="username">
			<input type="password" class="form-control" placeholder="Password" required="" name="password">
			<!--<label class="checkbox">
			  <input type="checkbox" value="remember-me"> Remember me
			</label>-->

			<button class="btn btn-lg btn-default btn-block" type="submit">{% trans "Sign in" %}</button>
			<input type="hidden" name="next" value="{{ next }}" />
			<div class="text-center">
				<h4>{% trans "or" %}</h4>
			</div>
			<button type="button" class="btn btn-primary btn-lg btn-block"
			onclick="go_to_url('/accounts/register/');">{% trans "Register" %}</button>
			

			<br>
			<div class="row">
				<div class="col-sm-6 col-xs-6 col-lg-6 col-md-6 text-left">
					<a href="{% url 'ato:index' %}"><i class="fa fa-arrow-left"></i>&nbsp;{% trans "Back to Home" %}</a>
				</div>
				<div class="col-sm-6 col-xs-6 col-lg-6 col-md-6 text-right">
					<a href="/reset/recover/">{% trans "Forgot you password?" %}</a>
				</div>
			</div>
			
		</form>
		

	</div>
</div>

<script>
    function go_to_url(url) {
        window.location = url;
    }
</script>
{% endblock %}