{% extends "care/base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<h1>{% trans "Registration form" %}
			<small>
				{% trans "just few simple steps to help people..." %}
			</small>
		</h1>
	</div>
</div>

<hr/>

<div class="row">
        <form role="form" method="post" action="">
        	{% csrf_token %}
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>{% trans "Required Field" %}</strong></div>
                <div class="form-group">
                    <label for="id_username">{% trans "Enter login name" %}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" id="id_username" placeholder="{% blocktrans %}Login name{% endblocktrans %}" required maxlength="30">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_email">{% trans "Enter Email" %}</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="id_email" name="email" placeholder="{% blocktrans %}Email{% endblocktrans %}" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password1">{% trans "Enter Password" %}</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="id_password" name="password1" placeholder="{% blocktrans %}Password{% endblocktrans %}" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password2">{% trans "Confirm Password" %}</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="id_password2" name="password2" placeholder="{% blocktrans %}Confirm Password{% endblocktrans %}" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="checkbox form-group">
                    <label>
                      <input type="checkbox" required> {% trans "I have read and agree with" %} <a href="" onclick="Terms();" style="color: #777;">{% trans "Terms and Conditions" %}</a>
                    </label>
                  </div>
                <input type="submit" name="submit" id="submit" value="{% blocktrans %}Save changes{% endblocktrans %}" class="btn btn-info pull-right">
            </div>
        </form>
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
            	{% if form.non_field_errors %}			
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> {% trans "Error!" %} {{form.non_field_errors}}</strong>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
      function Terms(){
        var url = '/pp' + '{% trans "en" %}';
        var win = window.open(url, '_blank');
        win.focus();
        
      }
    </script>
{% endblock %}