{% extends 'care/base.html' %}
{% load i18n %}
{% block headerscript %}
	<link href="{{STATIC_URL}}css/social.css" rel="stylesheet">
{% endblock %}
{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/">pics.ATO.care</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-heart fa-lg"></i> {% trans "My account" %} <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> {% trans "My pictures" %}</a></li>
		            <li class="divider"></li>
		            <li><a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> {% trans "My info" %}</a></li>
		            <li class="divider"></li>
		            <li><a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> {% trans "Upload" %}</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-image fa-lg"></i> {% trans "Photos" %} <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#"></i> {% trans "Newest" %}</a></li>
		            <li class="divider"></li>
		            <li><a href="#">{% trans "Popular" %}</a></li>
		            <li class="divider"></li>
		            <li><a href="#">{% trans "Most rised" %}</a></li>
		          </ul>
		        </li>
		        <li ><a href="#"><i class="fa fa-users fa-lg"></i> {% trans "Photographers" %}</a></li>
		        <li ><a href="#"><i class="fa fa-th fa-lg"></i> {% trans "Categoryies" %}</a></li>
	        </ul>
	      
	        <ul class="nav navbar-nav navbar-right">

	        	<li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
	                <ul class="dropdown-menu" role="menu">
	                  {% for lang in LANGUAGES %}
			            
			              <form name="setLang{{ lang.1 }}" id="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST">
			              	<li>
			                {% csrf_token %}
			                <input name="next" type="hidden" value="/care/myinfo">
			                <input type="hidden" name="language" value="{{ lang.0 }}">
			                <a href="" class="{{ lang.1 }} form-li" onclick="document.getElementById('setLang{{ lang.1 }}').submit();return false;">{% if lang.1 == 'English' %} {% trans "English" %} {% else %} {% trans "Ukrainian" %} {% endif %}</a>
			             	</li>
			              </form>
			            
			          {% endfor %}
	                </ul>
	              </li>
	        		
	          	<li><a href="{% url 'care:myinfo' %}">{{ user.get_username }}</a></li>
	        		
	        	<li><a href="{% url 'care:logout' %}" class="navbar-link"><i class="fa fa-sign-out fa-lg"></i> {% trans "Logout" %} </a></li>
	      	    
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}

<div class="container" id="section1">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header text-center">
      <h1>{% trans "Care title 1" %}</h1>
    </div>

    <p class="text-center">
      {% trans "Care text 1" %}
    </p>
  </div>
</div>

<script src="{{STATIC_URL}}js/jquery.min.js"></script>

{% endblock %}