{% extends 'care/base.html' %}
{% load i18n %}
{% block headerscript %}
    <!-- UI -->
	    <link href="{{STATIC_URL}}css/social.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flexisel.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.flexisel.js"></script>
    <!-- /UI -->

    <!-- Social scripts -->
       <!--  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/social-stub-style.css"> -->
        <script type="text/javascript" src="{{STATIC_URL}}js/social/angular.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/social/route.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/social/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/social/app.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/social/controllers.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/social/services.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/social/directives.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/ng-infinite-scroll.js"></script>
    <!-- /Social scripts -->
    <base href="/social/">
{% endblock %}
{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">pics.ATO.care</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" id="photoPage">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-image fa-lg"></i><span id="photosName"> {% trans "Newest" %} </span><span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li id="newestPage"><a href="/social/{{LANG}}/newest"></i><span id="newestTitle">&nbsp;{% trans "Newest" %}</span></a></li>
                    <li class="divider"></li>
                    <li id="popularPage"><a href="/social/{{LANG}}/popular"><span id="popularTitle">&nbsp;{% trans "Popular" %}</span></a></li>
                    <li class="divider"></li>
                    <li id="mostPage"><a href="/social/{{LANG}}/mostraised"><span id="mostTitle">&nbsp;{% trans "Most rised" %}</span></a></li>
                  </ul>
                </li>
                <li id="photographerPage"><a href="/social/{{LANG}}/authors"><i class="fa fa-users fa-lg"></i> {% trans "Photographers" %}</a></li>
                <li  id="categoryPage"><a href="/social/{{LANG}}/categories"><i class="fa fa-th fa-lg"></i> {% trans "Categoryies" %}</a></li>
            </ul>
                <div class="col-md-2 col-sm-2 col-xs-12 top-navbar" id="searchPage">
                    <div class="input-group">
                      <input type="text" id="searchVal" class="form-control" placeholder="{% trans 'Search for...' %}">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="searchBtn" type="button"><i class="glyphicon glyphicon-search"></i></button>
                      </span>
                    </div><!-- /input-group -->
                </div>
            <ul class="nav navbar-nav navbar-right">

                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {% for lang in LANGUAGES %}
                        
                          <form name="setLang{{ lang.1 }}" id="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST">
                            <li>
                            {% csrf_token %}
                            <input name="next" type="hidden" value="/social">
                            <input type="hidden" name="language" value="{{ lang.0 }}">
                            <a href="" class="{{ lang.1 }} form-li" onclick="document.getElementById('setLang{{ lang.1 }}').submit();return false;">{% if lang.1 == 'English' %} {% trans "English" %} {% else %} {% trans "Ukrainian" %} {% endif %}</a>
                            </li>
                          </form>
                        
                      {% endfor %}
                    </ul>
                  </li>-->

                {% if user.is_authenticated %}
                    <li>
                        <a href="/care/myinfo" class="user-now text-right user-a" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {% for profile in user.userprofile_set.all %}
                                <img src="{{profile.get_thumb}}" class="img img-thumbnail user-thumbnail" />
                            {% endfor %}
                            <i id="userName">&nbsp;{{ user.username }}&nbsp;</i><span class="caret">
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> {% trans "My pictures" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> {% trans "My info" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> {% trans "Upload" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'care:logout' %}" class=""><i class="fa fa-sign-out fa-lg"></i> {% trans "Logout" %} </a></li>
                        </ul>
                    </li>
                    
                {% else %}
                    <li class="join">
                        <a href="{% url 'care:detail' %}" class="user-now text-right upper">
                            <i class="join-user"></i>&nbsp;{% trans "Join" %}
                        </a>
                    </li>
                    
                {% endif %}
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}

<div class="container-fluid">

</div>

<div ng-app="atoApp" >

    <!-- 
trans_categories
trans_popular
trans_most_rised
trans_recently_added
trans_search
trans_picture
trans_photographers
-->

    {% if user.is_authenticated %}
        <div ng-init="is_auth='true'; 
        u_email='{{user.email}}';
        trans_categories = '{% trans 'Categories' %}';
        trans_popular = '{% trans 'Popular' %}';
        trans_most_rised = '{% trans 'Most rised' %}';
        trans_recently_added = '{% trans 'Recently added' %}';
        trans_search = '{% trans 'Search' %}';
        trans_picture = '{% trans 'Photo' %}';
        trans_photographers = '{% trans 'Photographers' %}';
        trans_see_more = '{% trans 'See more' %}';
        trans_like = '{% trans 'Like' %}';
        trans_download = '{% trans 'Download' %}';
        trans_download_title_1 = '{% trans 'Help, please!' %}';
        trans_download_text_1 = '{% trans 'Do not be indifferent to make a donation to people in need!' %}';
        trans_select_donation = '{% trans 'Select organization' %}';
        trans_download_text_2 = '{% trans 'Help people with just 1$. Its not too match, but enough to save someone life...' %}';
        trans_download_text_3 = '{% trans '* Download will start right after payment process complete' %}';
        trans_download_text_4 = '{% trans 'Or you can dowload it free!' %}';
        trans_download_text_5 = '{% trans 'But with advertisement watching...' %}';
        trans_download_text_6 = '{% trans '* The part of advertisement money we will donate to help organizations' %}';
        trans_free = '{% trans 'Free' %}';
        trans_read_and_agree = '{% trans 'I have read and agree with' %}';
        trans_TC = '{% trans 'Terms and Conditions' %}';
        trans_req = '{% trans 'field is required' %}';
        trans_only_registered_can_like = '{% trans 'Only registered users can like pictures, join us!' %}';
        trans_no_results = '{% trans 'There are no results found' %}';
        "></div>
    {% else %}
        <div ng-init="is_auth='false';
        trans_categories = '{% trans 'Categories' %}';
        trans_popular = '{% trans 'Popular' %}';
        trans_most_rised = '{% trans 'Most rised' %}';
        trans_recently_added = '{% trans 'Recently added' %}';
        trans_search = '{% trans 'Search' %}';
        trans_picture = '{% trans 'Photo' %}';
        trans_photographers = '{% trans 'Photographers' %}';
        trans_see_more = '{% trans 'See more' %}';
        trans_like = '{% trans 'Like' %}';
        trans_download = '{% trans 'Download' %}';
        trans_download_title_1 = '{% trans 'Help, please!' %}';
        trans_download_text_1 = '{% trans 'Do not be indifferent to make a donation to people in need!' %}';
        trans_select_donation = '{% trans 'Select organization' %}';
        trans_download_text_2 = '{% trans 'Help people with just 1$. Its not too match, but enough to save someone life...' %}';
        trans_download_text_3 = '{% trans '* Download will start right after payment process complete' %}';
        trans_download_text_4 = '{% trans 'Or you can dowload it free!' %}';
        trans_download_text_5 = '{% trans 'But with advertisement watching...' %}';
        trans_download_text_6 = '{% trans '* The part of advertisement money we will donate to help organizations' %}';
        trans_free = '{% trans 'Free' %}';
        trans_read_and_agree = '{% trans 'I have read and agree with' %}';
        trans_TC = '{% trans 'Terms and Conditions' %}';
        trans_req = '{% trans 'field is required' %}';
        trans_only_registered_can_like = '{% trans 'Only registered users can like pictures, join us!' %}';
        trans_no_results = '{% trans 'There are no results found' %}';
        "></div>
    {% endif %}

    <div ng-view>

    </div>
<a href="#" data-back-btn class="scrollBack"></a>
</div>



<a href="#" class="scrollToTop smaller"></a>
<input type="hidden" value="{{LANG}}" id="Lang_code">

<script>

var relayout;

$(document).ready(function(){
    
    //Check to see if the window is top if not then display button
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.scrollBack').fadeOut(250, function(){
                $('.scrollToTop').fadeIn(250);
            });
            
        } else {
            $('.scrollToTop').fadeOut(250, function(){
                $('.scrollBack').fadeIn(250);
            });
        }
    });
    
    //Click event to scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });

    // Wrap everything in an IIFE
(function($, viewport){

    var doStuff = function(){
        if( viewport.is('xs') && !$('.scrollBack').hasClass('smaller')) {
            $('.scrollBack').addClass('smaller');
        }else if(!viewport.is('xs') && $('.scrollBack').hasClass('smaller')){
            $('.scrollBack').removeClass('smaller');
        }
        if( viewport.is('xs') && !$('.tabs').hasClass('little-bit')) {
            $('.tabs').addClass('little-bit');
        }else if(!viewport.is('xs') && $('.tabs').hasClass('little-bit')){
            $('.tabs').removeClass('little-bit');
        }

        if( viewport.is('sm')){
            $('#userName').hide()
        }else{
            $('#userName').show()
        }
    }
    // Do stuff in the lowest resolutions only
    if( viewport.is('xs') ) {
        doStuff();
    }

    // Do the same, but only after document has loaded
    $(document).ready(function() {
        doStuff();

        $('#bs-example-navbar-collapse-1').on('show.bs.collapse', function () {
            $('.scrollBack').hide()
        });

        $('#bs-example-navbar-collapse-1').on('hidden.bs.collapse', function () {
            $('.scrollBack').show()
        });
    });

    // Execute code each time window size changes
    $(window).bind('resize', function() {
        viewport.changed(function(){
            doStuff();
        });
    });

    relayout = doStuff;

})(jQuery, ResponsiveBootstrapToolkit);
    
});

$( document ).ready(function() {
        $.ajaxSetup({
            headers: { "X-CSRFToken": $.cookie("csrftoken") }
        });


    });

        $('#searchBtn').on('click', function (e) {
            if($("#searchVal").val()){
                window.location = '/social/{{LANG}}/search/' + encodeURIComponent($("#searchVal").val());
            }   
        });

  var init_gallery = function() {
    $(".flexisel_carousel").each(function(i, obj) {
    //test
    $("#flexisel_carousel"+ $(this).attr('pid') ).flexisel({
        enableResponsiveBreakpoints: true,
        clone: false,
        visibleItems: 4,
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:460,
                visibleItems: 1
            }, 
            landscape: { 
                changePoint:624,
                visibleItems: 2
            },
            tablet_768: { 
                changePoint:752,
                visibleItems: 3
            },
            tablet_990: { 
                changePoint:974,
                visibleItems: 2
            },
            tablet_1200: { 
                changePoint:1184,
                visibleItems: 3
            },
            
            
        }
        });
    })
};    

var like_picture = function(picture_id){
        $.ajax({
                url : "/care/like/"+picture_id+"/",
                type : "POST",
                contentType: 'application/json; charset=utf-8',
                success : function(results){
                    if (results.success == "true") {
                        $('#basic-addon-like')
                             .text(results.likes);
                        $('.fa-not-liked').removeClass('fa-not-liked');
                        
                    }
                }
            });  
}

var donate = function(amount){
    $.ajax({
                url : "/care/donate/"+amount+"/",
                type : "POST",
                contentType: 'application/json; charset=utf-8',
                success : function(results){
                    if (results.success == "true") {
                        alert("success");
                        
                    }
                }
            });
}

var setPage = function(page, param){
    if(page){
        //clear 
        $('.active').removeClass('active');
        switch(page){
            case 'search':
                $('#searchPage').addClass('active');
                $('#searchVal').attr('placeholder', param)
                break;
            case 'category':
                $('#categoryPage').addClass('active');
                break;
            case 'popular':
                $("#photoPage").addClass('active');
                $("#photosName").html($('#popularTitle').html());
                $("#popularPage").addClass('active');
                break;
            case 'most':
                $("#photoPage").addClass('active');
                $("#photosName").html($('#mostTitle').html());
                $("#mostPage").addClass('active');
                break;
            case 'newest':
                $("#photoPage").addClass('active');
                $("#photosName").html($('#newestTitle').html());
                $("#newestPage").addClass('active');
                break;
            case 'photo':
                $('#photoPage').addClass('active');
                break;
            case 'photographer':
                $('#photographerPage').addClass('active');
                break;
            
        }
    }
    
    
}

function Terms(){
        var url = '/pp' + '{% trans "en" %}';
        var win = window.open(url, '_blank');
        win.focus();
        
      }

</script>

{% endblock %}