{% load care_extra %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>pics.ATO.care</title>

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/signin.css" rel="stylesheet">
    <link href="{{STATIC_URL}}font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/ato.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/jquery.Jcrop.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/img/favicon.ico"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block headerscript %}{% endblock %}
  </head>
  <body>
{% block header %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">pics.ATO.care</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li  class="{% active_page request "detail" %} {% active_page request "edit" %}"><a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> {% trans "My pictures" %}</a></li>
                <li class="{% active_page request "myinfo" %}"><a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> {% trans "My info" %}</a></li>
                <li class="{% active_page request "upload" %}">
                    <a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> {% trans "Upload" %}</a>
                </li>
                <li class="dropdown">
                  <a href="{% url 'ato:social' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-users fa-lg"></i> {% trans "Photos" %} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'ato:social' %}{% active_lang request %}/popular"><i class="fa fa-image fa-lg"></i> {% trans "Photos" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'ato:social' %}{% active_lang request %}/authors"><i class="fa fa-users fa-lg"></i> {% trans "Photographers" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'ato:social' %}{% active_lang request %}/categories"><i class="fa fa-th fa-lg"></i> {% trans "Categories" %}</a></li>
                  </ul>
                </li>
            </ul>
          
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {% for lang in LANGUAGES %}
                        
                          <form name="setLang{{ lang.1 }}" id="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST">
                            <li>
                            {% csrf_token %}
                            <input name="next" type="hidden" value="/care">
                            <input type="hidden" name="language" value="{{ lang.0 }}">
                            <a href="" class="{{ lang.1 }} form-li" onclick="document.getElementById('setLang{{ lang.1 }}').submit();return false;">{% if lang.1 == 'English' %} {% trans "English" %} {% else %} {% trans "Ukrainian" %} {% endif %}</a>
                            </li>
                          </form>
                        
                      {% endfor %}
                    </ul>
                  </li>
                    
                <li>
                    <a href="{% url 'care:myinfo' %}" class="user-a">
                      {% for profile in user.userprofile_set.all %}
                      <img src="{{profile.get_thumb}}" class="img img-thumbnail user-thumbnail" />
                      {% endfor %}
                      &nbsp;{{ user.get_username }}
                    </a>
                  </li>
                    
                <li><a href="{% url 'care:logout' %}" class="navbar-link"><i class="fa fa-sign-out fa-lg"></i> {% trans "Logout" %} </a></li>
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}

<div class="container">
    {% block content %}{% endblock %}
</div>
<div class="footer">
    <div class="container">
        {% for lang in LANGUAGES %}
            <div class="text-left t">
              <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
                {% csrf_token %}
                <input name="next" type="hidden" value="/care/detail">
                <input type="hidden" name="language" value="{{ lang.0 }}">
                <a href="#" onclick="document.setLang{{ lang.1 }}.submit();
                    return false;">{% if lang.1 == 'English' %} {% trans "English" %} {% else %} {% trans "Ukrainian" %} {% endif %}</a>
              </form>
            </div>
          {% endfor %} 
        <div class="text-center t">
          <p class="text-muted">intelliGT 2015 &copy;</p>
        </div>
    </div>    
</div>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.file-input.js"></script>
    <script type="text/javascript">
        $('input[type=file]').bootstrapFileInput();
        $('.file-inputs').bootstrapFileInput();
    </script>
    <script src="{{STATIC_URL}}js/bootstrap-select.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.color.js"></script>
    <script src="{{STATIC_URL}}js/jquery.Jcrop.js"></script>
    <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<!--    <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script> -->
    <script src="{{STATIC_URL}}js/bootstrap3-typeahead.js"></script> 
    <script src="{{STATIC_URL}}js/bootstrap-tagsinput.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-toolkit.js" ></script>
  </body>
</html>