<header class="">
            <p class="name">Hello {{session.FirstName}}</p>
            <span class="logo"></span>
        </header>
<div id="main"><div class="home">
            <section class="news">
                <div class="head" style="height:  15px;">
                    <span class="left"></span>
                    <span class="right" id="today-date">09/03/2013</span></div>
                <div id="news-list">
			            <news ng-repeat="curVisit in visits"></news>
        	</div>
            </section>
            <section class="menu bg">
                <nav>
                	<custom-button type="messages" link="#messages" note-count="checkForMessages()" fast-button localized-text="'_Messages_' | i18n"></custom-button>
                    <custom-button type="schedule" link="#schedule" localized-text="'_My Schedule_' | i18n" fast-button></custom-button>
                    <custom-button type="visits" link="#schedule/available" fast-button localized-text="'_Get More Visits_' | i18n"></custom-button>
                    <custom-button type="info" fast-button link="#user"localized-text="'_My Info_' | i18n"></custom-button>
                    <custom-button type="payroll" link="#payroll"localized-text="'_Payroll_' | i18n" fast-button></custom-button>
                    <custom-button type="logout clear" link="#home"localized-text="'_Logout_' | i18n" 
                    fast-button id='coolId'></custom-button> 
                   
                </nav>
            </section>
        </div></div>

