{% extends "care/base.html"  %}
{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block pagetitle %}{% trans "New password set" %}{% endblock %}


{% block content %}
<form class="form-signin text-center" >
	<p>{% trans "Your password has successfully been reset. You can use it right now on the " %}
		<a href="/care">{% trans "login page" %}</a>.</p>
</form>

<script language="javascript" type="text/javascript">
     <!--
     window.setTimeout('window.location="/care/login"; ',2800);
     // -->
 </script>
{% endblock %}


