.ato-approved .fa-check{
	position:relative;
    top:-57px;
    right:5px;
    text-align:right;
    display:block;
    color: green;
}

.ato-approved .fa-close{
	position:relative;
    top:-57px;
    right:5px;
    text-align:right;
    display:block;
    color: red;
}

select.multiselect,
select.multiselect + div.btn-group,
select.multiselect + div.btn-group button.multiselect,
select.multiselect + div.btn-group.open .multiselect-container{
    width:100% !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-left.t {
  text-align: left;
  float: left;
  padding-top: 2%;
  padding-right: 1%;
}

.container .text-center.t {
  width: 85%;
}



code {
  font-size: 80%;
}

.vcenter {
    display: table-cell;
    table-layout: fixed;
}

.vcenter .cont{
    display: inline-block;
    vertical-align:middle;
    text-align:center;
}

.ato h1{
   font-family: Helvetica;
}

.ato h2{
   font-family: Helvetica;
}

.ato h3{
   font-family: Helvetica;
}

