.social-content-indent{
    margin-top: 15px;
    margin-bottom: 15px;
}

.hcenter{
    margin: 0 auto;
}

.no-gutter{
    padding: 0px;
}

.vertical-align {
  display: -webkit-box;
 display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
    display: flex; 
    /* Align children to the horizontal center of this box */
  box-align: center;              /* As specified */
  -moz-box-align: center;         /* Mozilla */
  -webkit-box-align: center;      /* WebKit */
    align-items: center;
}

.stackone{
    border: 6px solid #eee;
    border-bottom: 40px solid #eee;
    position: relative;
    width: 85%;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.stackone img{
    width: 100%;
}

.stackone p{
    width: 100%;
    position: absolute;
    bottom: -45px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #888;
}

#category .stackone:before {
    content: "";
    width: 105%;
    height: 115%;
    background-color: #ccc;
    border: 6px solid #eee;
    border-bottom: 40px solid #eee;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -10px;
     
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
     
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#category .stackone:after {
    content: "";
    width: 105%;
    height: 115%;
    background-color: #ccc;
    border: 6px solid #eee;
    border-bottom: 40px solid #eee;
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 0px;
     
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
}

span.category-img-counter{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    border-radius: 2px;
    background-color: #eee;
    color: #888;
    line-height: 1px;
}
#popular-title{
    padding-left: 10px;
}
.photo-shadow{
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
#popular .stackone{
    border: 6px solid #eee;
    box-shadow: none;
    position: relative;
    width: 100%;
}
.popular-img-inform{
    width: 100%;
    background-color: #eee;
    padding: 6px;
}

.pop-photographer-name {
    text-align: right;
    font-size: 13px;
    padding-right: 5px;
    font-weight: 600;

}
.pop-photographer_ava{
    width: 100%;
}
.img-money-info-text{
    padding-left: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}

.img-money-info{
    margin-bottom: 5px;
    width: 25%;
    height: auto;
}

.photographer-inf{
    margin-top: 20px;
}

.photographer-name{
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 10px;
}

.social-net i{
    cursor: pointer;
    color: darkgrey;;
    padding-top: 15px;
}

.photographer-gallery{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px){
.left-indent{
    margin-left: 15px;
    
}
.photographer-name{
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 0px;
}
}

.nbs-flexisel-nav-left{
    left: -20px !important;
}

.nbs-flexisel-nav-right{
    right: -24px !important;
}

.earned-money img{
    width: 40px;
    margin-right: 5px;
}

.earned-money{
    font-size: 20px;
}

.detail-photographer{
    text-align: left; 
    padding-left: 5px;
}

.detail-photographer-name{
    font-size: 17px;
    font-weight: 600;
}

.detail-info{
  padding: 5px 25px;
}

.top-gutter{
    padding-top: 5px
}

.top-gutter-1{
    padding-top: 1%;
}

.top-gutter-2{
    padding-top: 2%;
}

.bottom-gutter{
    padding-bottom: 5px
}

.left-gutter{
      padding-left: 10%;
}

  

.detail-text{
    font-size: 1.5em;
}

.seeMore{
    margin-top: 39%;
  text-align: center;
  font-size: 2em;
}


.btn-addon-right{
  border-radius: 0px 6px 6px 0px;
}

.normal-font{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fa-liked{
    background-image: url('/static/img/likes-icon.png');
      width: 1.5em;
      height: 1.3em;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin-right: 0.25em;
}

.fa-not-liked{
    opacity: 0.4;
}

.fa-raized{
    background-image: url('/static/img/pig_25.png');
      width: 1.5em;
      height: 1.3em;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin-right: 0.25em;
}

.fa-downloaded{
    background-image: url('/static/img/download_25.png');
      width: 1.5em;
      height: 1.3em;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin-right: 0.25em;
}

.btn-not-btn{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    cursor: auto;
}

.btn-not-btn:hover,
.btn-not-btn:focus,
.btn-not-btn.active{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    cursor: auto;
    box-shadow: none;
    outline: none !important;
}

.join{
    background-color: #f1f1f1;
    font-weight: bold;
}

.scrollToTop{
      width: 50px;
      height: 50px;
      padding: 10px;
      text-align: center;
      /* background: whiteSmoke; */
      font-weight: bold;
      color: #444;
      text-decoration: none;
      position: fixed;
      bottom: 68px;
      left: 15px;
      display: none;
      background: url('/static/img/top2.png') no-repeat;
      background-size: contain;
}
.scrollToTop:hover{
    text-decoration:none;
}

.scrollBack{
      width: 50px;
      height: 50px;
      padding: 10px;
      text-align: center;
      /* background: whiteSmoke; */
      font-weight: bold;
      color: #444;
      text-decoration: none;
      position: fixed;
      top: 78px;
      left: 15px;
      background: url('/static/img/back.png') no-repeat;
      background-size: contain;
}
.scrollBack:hover{
    text-decoration:none;
}

.scrollBack.smaller{
    width: 30px;
    height: 30px;
    top: 62px;
}

.relative-me{
    position: relative;
}

.tabs{
    position: absolute;
    bottom: 2%;
    left: 0%;
}

.tabs ul{
      margin:0;
      padding:0;
      list-style:none;
      float:left;
}

.tabs ul li{
      line-height: 1.7em;
      margin-top: 0.3em;
      cursor: pointer;
}

.yellow a{
    background-color: #ffef26;
    line-height: 1.7em;
  display: inline-block;
  padding-left: 0.4em;
  padding-right: 0.3em;

  color: #000;
  opacity: 0.9;

  -webkit-box-shadow: 0px 0px 5px #222;
    -moz-box-shadow: 0px 0px 5px #222;
    box-shadow: 0px 0px 5px #222;
}

.blue a{
    background-color: #22a1fe;
    line-height: 1.7em;
  display: inline-block;
  padding-left: 0.4em;
  padding-right: 0.3em;
  color: #fff;
opacity: 0.9;

-webkit-box-shadow: 0px 0px 5px #222;
    -moz-box-shadow: 0px 0px 5px #222;
    box-shadow: 0px 0px 5px #222;
}

.tabs.little-bit ul li{
    line-height: 1em;
}

.tabs.little-bit .yellow,
.tabs.little-bit .blue{
    font-size: 0.6em;
}

.top-navbar{
    padding-top: 8px;
    padding-bottom: 7px;
}

.top-navbar.active{
    color: #555;
    background-color: #e7e7e7;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  color: #fff;
  text-decoration: none;
  background-color: gray;
}