<!--<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-link">
            <div class="container">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="back-button"><a data-back-btn href="#"><i class="fa fa-arrow-circle-o-left"></i></a></li>
                        <li><a href="#/{{ln}}/popular">Popular</a></li>
                        <li><a href="#/{{ln}}/mostraised">Most Raised</a></li>
                        <li><a href="#/{{ln}}/newest">Newest</a></li>
                        <li><a href="#/{{ln}}/categories">Categories</a></li>
                        <li><a href="#/{{ln}}/authors">Authors</a></li>
                        <li><span class="input-sm search"><input ng-model="searchLine"><a class="search-btn" data-search-btn href="#"><i class="fa fa-search"></i></a></span></li>
                    </ul>
                    <ul data-local-btns class="nav navbar-nav right-float"></ul>
                </div>
            </div>
        </nav>
    </div>
</div>-->
<div class="container">
<div class="container-fluid" id="picture_content">
	<div class="row">
        <div class="col-md-12">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;{{image.name}}</h2>
        </div>
    </div>
    <br>
    <div class="well photo_backgr lifted polaroid-face">

		<div class="row">
			<div class="col-md-9 col-sm-8 col-xs-12 relative-me">
	    	    <div class=""> 
	                <div class="ato-approved text-center">
				    	<span>
					    	<img src="{{serverUrl}}/media/{{image.picture_url}}" alt="{{image.name}}" class="img-thumbnail img-full" id="picture_preview">
					    	
			      		</span>
			    	</div>
	            </div><!--/well-->   
	            <div class="tabs">
	            	<ul>
	            		<li ng-repeat="tag in image.tags"><span ng-class-odd="'blue'" ng-class-even="'yellow'"><a href="" ng-click="tagSearch(tag)">{{tag.name}}</a></span></li>
	            		
	            	</ul>
	            </div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
	    	    <div class=""> 
	    	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-gutter" ng-show="image.amount">
                                <div class="vertical-align earned-money pull-right">
                                    <img src="/static/img/pig_50.png" alt="earned_money" class="img-responsive">
                                    <strong>{{image.amount}}</strong>
                                </div>
                            </div>
	    	    	<div class="paper">
		                <!--<h2 id="pic_name">{{image.name}}</h2>-->
		                <div class="row">
		                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
		                        <div class="vertical-align">
		                        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-gutter">
			                            <a class="no-link" href="/social/{{ln}}/authorpictures/{{image.author_id}}"><img src="{{serverUrl}}{{image.author_thumbnail}}" alt="Photographer_ava" class="img-circle img-responsive img-thumbnail pull-right pop-photographer_ava"></a>
			                        </div>
			                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 detail-photographer">
			                            <span><a class="no-link detail-photographer-name" href="/social/{{ln}}/authorpictures/{{image.author_id}}">{{image.author}}</a></span>
			                        </div>
			                       
		                        </div>    
		                    </div>
		                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-gutter bottom-gutter left-gutter vertical-align ">
		                    	<div class="input-group normal-font">
								  <span class="input-group-addon" id="basic-addon-like">{{image.likes}}</span>
								    
								    <button disabled="disabled" ng-show="is_auth == 'false'" type="submit" class="btn btn-default btn-lg btn-addon-right vertical-align">
									  <i class="fa fa-liked"></i>{{trans_like}}
									</button>

								    <button ng-show="is_auth == 'true' && image.liked == 'false'" type="submit" class="btn btn-default btn-lg btn-addon-right vertical-align" ng-click="like(image)">
									  <i ng-class="{fa: true, 'fa-liked': true, 'fa-not-liked': image.liked == 'false'}"></i>{{trans_like}}
									</button>

									<button ng-show="is_auth == 'true' && image.liked == 'true'" type="submit" class="btn btn-default btn-lg btn-addon-right vertical-align btn-not-btn">
									  <i class="fa fa-liked"></i>{{trans_like}}
									</button>

								</div>
		                    </div>
		                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-gutter bottom-gutter left-gutter vertical-align">
		                    	<div class="input-group normal-font">
								  <span class="input-group-addon" id="basic-addon2">{{image.downloads}}</span>
								    <button data-toggle="modal" data-target="#myModal" type="submit" class="btn btn-default btn-lg btn-addon-right vertical-align">
									  <i class="fa fa-downloaded"></i>{{trans_download}}
									</button>
								</div>
		                    </div>
		                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-gutter bottom-gutter left-gutter vertical-align">
		                    	<div class="input-group normal-font">
								  <span class="input-group-addon" id="basic-addon3">${{image.amount}}</span>
								    <button type="submit" class="btn btn-default btn-lg btn-addon-right vertical-align btn-not-btn active">
									  <i class="fa fa-raized"></i>Rized
									</button>
								</div>
		                    </div>-->

		                	<div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1 top-gutter">

				      			<ul class="list-group " id="pic_category">
				      				<li class="list-group-item no-gutter detail-category" ng-repeat="category in image.categories">
				      					<a class="no-link" href="/social/{{ln}}/category/{{category.id}}">
				      						<div class="row  no-gutter vertical-align">

				      							<div class="col-xs-3 no-gutter">
				      								<img src="{{serverUrl}}/media/{{category.picture_url}}" class="img img-responsive img-thumbnail">
				      							</div>
				      							<div class="col-xs-7 no-gutter">
				      								&nbsp; {{category.name}}
				      							</div>
				      						</div>
				      						
				      					</a>
				      				</li>
				      			</ul>
								   
							</div>
		                </div>

	                </div>
	            </div><!--/well-->   
			</div>
		</div>
	</div>
</div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">{{trans_download_title_1}}</h3>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-md-8">
      			<span>{{trans_download_text_1}}</span>
      			<br />
      			<br />
      			<div class="col-md-10 col-md-offset-2"  class="text-center">

	      			<div class="dropdown" class="text-center">
					  <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="btn btn-default amount-btn btn-lg">
					    {{trans_select_donation}}
					    <span class="caret"></span>
					  </a>

					  <ul class="dropdown-menu amount" role="menu" aria-labelledby="dLabel">
					    <li role="presentation" ng-repeat="org in orgs"><a role="menuitem" tabindex="-1" href="#" ng-click="setOrganization(org)">{{org.name}}</a></li>
					    
					  </ul>
					</div>
				</div>
				<br />
				<div class="col-md-6 col-md-offset-3">
      				<img src="/static/img/default/ato-user.png" class="img img-responsive">
      			</div>
				<br />
				<div class="col-md-12"  class="text-center">
					<span>{{trans_download_text_2}}</span>
      			</div>
      			<br /><br />
				<div class="col-md-12 top-gutter">
					<small>{{trans_download_text_3}}</small>
					<br />
				</div>
      		</div>
      		<div class="col-md-4">
      			{{trans_download_text_4}} 
      			<br />
      			{{trans_download_text_5}}
      			<br /><br />
      			<small>{{trans_download_text_6}}</small>
      			<hr />
      			<button type="button" class="btn btn-default btn-small" ng-click="freeStuff()">{{trans_free}}</button>
      		</div>
      	</div>
        
      </div>
      <div class="modal-footer">
      	<div class="col-sm-6 text-left">
      		<div ng-bind-html="payForm"></div>
      		
      	</div>
      	<div class="col-sm-6 text-right">
      		<!--<button type="button" class="btn btn-primary">Save changes</button>-->
      	</div>
        
        
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(function(){

    $(".dropdown-menu.amount").on('click', 'li a', function(){
      $(".btn.amount-btn:first-child").text($(this).text());
      $(".btn.amount-btn:first-child").val($(this).text());
   });

});
</script>
