{% extends 'care/base.html' %}
{% load i18n %}
{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/">ATO.Care</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        	<li  class="active"><a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> {% trans "My pictures" %}</a></li>
	        	<li><a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> {% trans "My info" %}</a></li>
	        	<li>
	        		<a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> {% trans "Upload" %}</a>
	        	</li>
	        </ul>
	      
	        <ul class="nav navbar-nav navbar-right">
	        		
	          	<li><a href="{% url 'care:myinfo' %}">{{ user.get_username }}</a></li>
	        		
	        	<li><a href="{% url 'care:logout' %}" class="navbar-link">{% trans "Logout" %} <i class="fa fa-sign-out fa-lg"></i> </a></li>
	      	    
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}

{% if picture_list and all_count > allowed_count %}
<div class="row">
    <div class="col-md-12 text-center">
    	<ul class="pager">
    		
    		{% if picture_list.has_previous %}
    			<li class="previous"><a href="?page={{ picture_list.previous_page_number }}">&larr; {% trans "Older" %}</a></li>
		    {% else %}
		    	<li class="previous disabled"><a href="#">&larr; {% trans "Older" %}</a></li>
		    {% endif %}

		    {% if picture_list.has_next %}
		    	<li class="next"><a href="?page={{ picture_list.next_page_number }}">{% trans "Newer" %} &rarr;</a></li>
		    {% else %}
		    	<li class="next disabled"><a href="#">{% trans "Newer" %} &rarr;</a></li>
		    {% endif %}
		</ul>
    </div>
</div>
{% endif %}

{% if not picture_list %}
<div class="row">
    <div class="col-md-12 text-center">
    	<h2>{% trans "There are no uploaded pictures!" %}</h2> 
    	<h4>{% trans "Please upload more pictures" %} <a href="{% url 'care:upload' %}">{% trans "here" %}</a>!</h4>
    </div>
</div>
{% endif %}

{% for img in picture_list %}
<div class="row">
	<div class="col-md-12">
		<h3>{{img.picture_name}}</h3>
	</div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
    	<div class="ato-approved">
	    	<img src="{{ MEDIA_URL }}{{img.photo_medium}}" alt="{{img.picture_name}}" class="img-thumbnail">
	    	{% if img.approve_status = True %}
      			<i class="fa fa-check fa-4x"></i>
      		{% else %}
      			<i class="fa fa-close fa-4x"></i>
      		{% endif %}
    	</div>
    	{% if img.approve_status = False %}
      		<a href="/care/edit/{{img.id}}">
      			<input type="button" class="btn btn-info pull-right" value="{% blocktrans %}Edit{% endblocktrans %}"/>
      		</a>
      	{% endif %}
      	<a href="/care/addupload/{{img.id}}">
      		<input type="button" class="btn btn-info pull-left" value="{% blocktrans %}Add upload{% endblocktrans %}"/>
      	</a>
    </div>
    <div class="col-md-6">
    	<form class="form-horizontal" role="form">
			<div class="form-group">
			    <label for="uploadLabel" class="col-md-4 control-label">{% trans "Uploaded to server:" %}</label>
			    <div class="col-md-8">
			        <p class="form-control-static"><i class="fa fa-upload "></i>&nbsp; {{img.date_pub}}</p>			        
			    </div>
			</div>
			{% if img.date_approve %}
			<div class="form-group">
			    <label for="approvedLabel" class="col-md-4 control-label">{% trans "Approved:" %}</label>
			    <div class="col-md-8">
			      	<p class="form-control-static"><i class="fa fa-clock-o "></i>&nbsp; {{img.date_approve}}</p>
			    </div>
			</div>
			{% endif %}
			<div class="form-group">
			    <label for="approvedLabel" class="col-md-4 control-label">{% trans "Author:" %}</label>
			    <div class="col-md-8">
			      	<p class="form-control-static"><i class="fa fa-user "></i>&nbsp; {{img.author.first_name}} {{img.author.last_name}}</p>
			    </div>
			</div>
			{% if img.category.all %}
			<div class="form-group">
			    <label for="CategoryLabel" class="col-md-4 control-label">{% trans "Categories:" %}</label>
			    <div class="col-md-8">
			      	<ul class="list-group">
			      		{% for cat in img.category.all %}
					    	<li class="list-group-item"><i class="fa fa-list-alt "></i>&nbsp; {{cat.category_name}} <small>({{ cat.download_count }})</small></li>
					    {% endfor %}
					</ul>
			    </div>
			</div>
			{% endif %}
			<!--
			DEVELOPMENT
			-->
			{% if img.cat_list.all %}
			<div class="form-group">
			    <label for="CategoryLabel" class="col-md-4 control-label">{% trans "Categories:" %}</label>
			    <div class="col-md-8">
			      	<ul class="list-group">
			      		{% for cat in img.cat_list.all %}
					    	<li class="list-group-item"><i class="fa fa-list-alt "></i>&nbsp; {{cat.category_name}} <small>{{ cat.download_count }}</small></li>
					    {% endfor %}
					</ul>
			    </div>
			</div>
			{% endif %}
			<!--
			END OF DEVELOPMENT
			-->
			{% if img.tag.all %}
			<div class="form-group">
			    <label for="TagLabel" class="col-md-4 control-label">{% trans "Tags:" %}</label>
			    <div class="col-md-8">
			      	<ul class="list-group">
			      		{% for tag in img.tag.all %}
					    	<li class="list-group-item"><i class="fa fa-tags "></i>&nbsp; {{tag.tag_name}}</li>
					    {% endfor %}
					</ul>
			    </div>
			</div>
			{% endif %}
			{% if img.download_count %}
			<div class="form-group">
			    <label for="CategoryLabel" class="col-md-4 control-label">{% trans "Downloads:" %}</label>
			    <div class="col-md-8">
			      	<p class="form-control-static">			      		
					    <i class="fa fa-download "></i>&nbsp; {{img.download_count}}	    
					</p>
			    </div>
			</div>
			{% endif %}
		</form>
    </div>
</div>
<hr />
{% endfor %}

{% if picture_list and all_count > allowed_count %}

<div class="row">
    <div class="col-md-12 text-center">
		<ul class="pagination">
		    {% if picture_list.has_previous %}
		    <li><a href="?page={{ picture_list.previous_page_number }}">&laquo;</a></li>
		    {% endif %}

		    {% for linkpage in picture_list.paginator.page_range %}
		      {% ifequal linkpage picture_list.number %}
		         <li  class="active"><a  href="?page={{ linkpage }}">{{ linkpage }}</a></li>
		      {% else %}
		         <li><a href="?page={{ linkpage }}">{{ linkpage }}</a></li>
		      {% endifequal %}
		   {% endfor %}
		    
		    {% if picture_list.has_next %}
		    <li><a href="?page={{ picture_list.next_page_number }}">&raquo;</a></li>
		    {% endif %}
		  
		</ul>
    </div>
</div>

{% endif %}

{% endblock %}