{% extends 'care/base.html' %}
{% load i18n %}
{% load care_extra %}

{% block content %}

{% if not picture_list %}
<div class="row">
    <div class="col-md-12 text-center">
    	<h2>{% trans "There are no uploaded pictures!" %}</h2> 
    	<h4>{% trans "Please upload more pictures" %} <a href="{% url 'care:upload' %}">{% trans "here" %}</a>!</h4>
    </div>
</div>
{% endif %}


{% if picture_list %}
<div class="container-fluid" id="carosel_block"  style="display: none;">
	<div class="row">
		<div class="col-md-12">
    	    <div class="well over-yes"> 
                <div id="myCarousel" class="carousel slide contrs">
                 
                <!--<ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>-->
                 
                <!-- Carousel items -->
	                <div class="carousel-inner visible-sm visible-md visible-lg visible-xs smallcontainer">
	                    
		                
	                 
	                </div>
	                 
	                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div><!--/myCarousel-->
                 
            </div><!--/well-->   
		</div>
	</div>
</div>

<div class="container-fluid" id="picture_content"  style="display: none;">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
    	    <div class="well photo_backgr lifted polaroid-face"> 
                <div class="ato-approved text-center">
			    	<span>
				    	<img src="" alt="" class="img-thumbnail img-full" id="picture_preview">
				    	
				    	<span class="ato-status" id="pic_already_approved" style="display: none;">
				    		<abbr class="no_under" title="{% blocktrans %}Picture approved{% endblocktrans %}"><i class="fa fa-check-square-o fa-4x"></i></abbr>
				    	</span>
				    	<span class="ato-status" id="pic_under_approval" style="display: none;">
				    		<a id="edit_image" ><i class="fa fa-pencil-square-o fa-4x"></i></a>
				    		<abbr class="no_under" title="{% blocktrans %}Under approval{% endblocktrans %}"><i class="fa fa-question fa-4x"></i></abbr>
				    	</span>

		      		</span>
		    	</div>
            </div><!--/well-->   
		</div>
		<div class="col-sm-6 col-xs-12">
    	    <div class="well photo_backgr curved-hz-1 polaroid-back"> 

    	    	<div class="paper">
	                <h3 id="pic_name"></h3>
	                <form class="form-horizontal" role="form">
						<div class="form-group">
						    <label for="uploadLabel" class="col-md-4 control-label">{% trans "Uploaded to server:" %}</label>
						    <div class="col-md-8">
						        <p class="form-control-static" id="pic_uploaded"><i class="fa fa-upload "></i>&nbsp; </p>			        
						    </div>
						</div>

						

						<div class="form-group">
						    <label for="approvedLabel" class="col-md-4 control-label author_name">{% trans "Author:" %}</label>
						    <div class="col-md-8">
						      	<p class="form-control-static" id="pic_author"><i class="fa fa-user "></i>&nbsp; </p>
						    </div>
						</div>

						<div class="form-group" style="display: none;" id="approved_container">
						    <label for="approvedLabel" class="col-md-4 control-label">{% trans "Approved:" %}</label>
						    <div class="col-md-8">
						      	<p class="form-control-static" id="pic_approved"><i class="fa fa-clock-o "></i>&nbsp; </p>
						    </div>
						</div>

						
						<div class="form-group" id="category_container" style="display: none;">
						    <label for="CategoryLabel" class="col-md-4 control-label">{% trans "Categories:" %}</label>
						    <div class="col-md-8">
						      	<ul class="list-group" id="pic_category">
						      		
								    	
								    
								</ul>
						    </div>
						</div>


						<div class="form-group" id="tag_container" style="display: none;">
						    <label for="TagLabel" class="col-md-4 control-label">{% trans "Tags:" %}</label>
						    <div class="col-md-8">
						      	<div class="bootstrap-tagsinput back-none" id="pic_tags">

						      	</div>
						    </div>
						</div>

						<div class="form-group" id="download_container" style="display: none;">
						    <label for="CategoryLabel" class="col-md-4 control-label">{% trans "Downloads:" %}</label>
						    <div class="col-md-8">
						      	<p class="form-control-static" id="pic_download">			      		
								    	    
								</p>
						    </div>
						</div>

						<div class="form-group" id="like_container" style="display: none;">
						    <label for="CategoryLabel" class="col-md-4 control-label">{% trans "Likes:" %}</label>
						    <div class="col-md-8">
						      	<p class="form-control-static" id="pic_like">			      		
								    	    
								</p>
						    </div>
						</div>

					</form>
                </div>
            </div><!--/well-->   
		</div>
	</div>
</div>


<script src="{{STATIC_URL}}js/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
	var isCaroselInitialized = false;
	var pages = null;
	var activePicture = null;

	function GetPicturesForSlide(index){
    	
		  	$.ajax({
		    	url : "/care/getpictures/?page="+index,
		    	type : "GET",
		    	contentType: 'application/json; charset=utf-8',
		    	success : function(results){
		      		if (results.success == "true") {
		      			if(!isCaroselInitialized) {
		      				pages = [];
		      				pages[index] = results;
		      				InitCarosel(results);
		      			}else{
		      				pages[index] = results;
		      				AppendToSlide(results);
		      			}
		        	//handle DOM insertion and other stuff
		      		} else {
		      			alert("?");
		      		}
	    		}
	  		});
    }

    function OpenPictureInfo(event) {
    	$('.carousel-inner').find('.selected_pic').removeClass('selected_pic')
    	if($(event.target).hasClass('thumbnail')){ 
    		$(event.target).addClass('selected_pic');
    		ReloadPicture($(event.target).parent().attr('id'));
    	}else{
    		$(event.target).parent().addClass('selected_pic');
    		ReloadPicture($(event.target).parent().parent().attr('id'));
    	}
    	

    	return false;
    }

    function ReloadPicture(picture) {
    	$('#picture_content').hide(200, function() {
    		var idx = $('#myCarousel .item.active').index();
    		for (var z = 0; z < pages[idx+1].entity.length; z++) {
    			if(pages[idx+1].entity[z].id == picture) {
    				pic = pages[idx+1].entity[z];
    				activePicture = pic;
    				$('#picture_preview').attr('src', pic.preview_url+"?"+new Date().getTime());
    				$('#picture_preview').attr('alt', pic.name);
    				//
    				
    				$('#pic_uploaded').empty().append('<i class="fa fa-upload "></i>&nbsp; ' + pic.published);
    				$('#pic_name').empty().append(pic.name);
    				$('#pic_author').empty().append('<li class="list-group-item back-none categoryContainer no-li"><a class="no-link" href="{% url "ato:social" %}{% active_lang request %}/authorpictures/' + pic.author_id + '"><img  src="' + pic.author_thumbnail + '" class="img img-responsive img-thumbnail categoryPreview img-circle">&nbsp;({% trans "You" %}) ' + pic.author + '</a></li>');
    				if(pic.approve){
    					$('#pic_approved').empty().append('<i class="fa fa-clock-o "></i>&nbsp; ' + pic.approve);
    					$('#pic_already_approved').show();
    					$('#pic_under_approval').hide();
    					$('#approved_container').show();
    					
    				}else{
    					$('#pic_already_approved').hide();
    					$('#pic_under_approval').show();
    					$('#approved_container').hide();
    					$('#pic_approved').empty();
    				}

    				if(pic.cats){
    					$('#pic_category').empty();
    					for (var i = 0; i < pic.cats.length; i++) {
    						$('#pic_category').append('<li class="list-group-item back-none categoryContainer"><a class="no-link" href="{% url "ato:social" %}{% active_lang request %}/category/'+pic.cats[i].id+'"><img  src="' + pic.cats[i].picture_url + '" class="img img-responsive img-thumbnail categoryPreview">&nbsp; ' + pic.cats[i].name + '</a></li>')
    					};
    					$('#category_container').show();
    				}else{
    					$('#category_container').hide();
    					$('#pic_category').empty();
    				}

    				if(pic.tags){
    					$('#pic_tags').empty();
						$('#pic_tags').append('<input type="text" placeholder="" style="width: 3em !important; display: none;">');
    					for (var i = 0; i < pic.tags.length; i++) {
    						$('#pic_tags').append('<a class="no-link" href="{% url "ato:social" %}{% active_lang request %}/search/' + encodeURIComponent(pic.tags[i].name.replace('#', '')) + '"><span class="tag label label-info">' + pic.tags[i].name + '</span></a>')
    					};
    					$('#tag_container').show();
    				}else{
    					$('#tag_container').hide();
    					$('#pic_tags').empty();
    				}

    				if(pic.downloads){
    					$('#pic_download').empty().append('<i class="fa fa-download "></i>&nbsp; ' + pic.downloads);
    					$('#download_container').show();
    				}else{
    					$('#download_container').hide();
    					$('#pic_download').empty();
    				}

    				if(pic.likes){
    					$('#pic_like').empty().append('<i class="fa fa-heart "></i>&nbsp; ' + pic.likes);
    					$('#like_container').show();
    				}else{
    					$('#like_container').hide();
    					$('#pic_like').empty();
    				}

    				if(pic.liked && pic.liked == 'true'){
    					$('.liked').removeClass("fa-heart-o").addClass("fa-heart"); 
    				}else{
    					$('.liked').removeClass("fa-heart").addClass("fa-heart-o"); 
    				}

    				
    				
    			}
    		};

    		$('#picture_content').show(200);
    	});
    }

    GetPicturesForSlide(1);

    function InitCarosel(data) {
    	var innerStub = '<div class="row"><div class="col-xs-3 polaroid-small"><a href="#x" class="thumbnail caroselPrev"><img src="/static/img/loading18.gif" alt="Image" class="img-thumbnail slider-preview"  /></a></div><div class="col-xs-3 polaroid-small"><a href="#x" class="thumbnail caroselPrev"><img src="/static/img/loading18.gif" alt="Image" class="img-thumbnail slider-preview" /></a></div><div class="col-xs-3 polaroid-small"><a href="#x" class="thumbnail caroselPrev"><img src="/static/img/loading18.gif" alt="Image" class="img-thumbnail slider-preview" /></a></div><div class="col-xs-3 polaroid-small"><a href="#x" class="thumbnail caroselPrev"><img src="/static/img/loading18.gif" alt="Image" class="img-thumbnail slider-preview" /></a></div></div>';

    	for (var i = 1; i <= data.count; i++) {
    		if(i == 1){
    			$('.carousel-inner').append('<div class="item active">' + innerStub + '</div>');
    		}else{
    			$('.carousel-inner').append('<div class="item">' + innerStub + '</div>');
    		}
    	};

    	$('#myCarousel').carousel({
		    interval: false
		});

		$('#myCarousel').on('slid.bs.carousel', function (e) {
			// get index of currently active item
			var idx = $('#myCarousel .item.active').index();
			// ajax load from data-url
		  	//$('.item').html("wait... ");
		  	GetPicturesForSlide(idx + 1);
			
		});

		$('#edit_image').on('click', function (e) {
			if(activePicture){
				window.location = '/care/edit/' + activePicture.id;
			}	
		});

		$('.download_image').on('click', function (e) {
			if(activePicture){
				window.location = '/care/addupload/' + activePicture.id;
			}	
		});

		$('.like_image').on('click', function (e) {
			if(activePicture){
				window.location = '/care/addlike/' + activePicture.id;
			}	
		});

    	ReloadPicture(data.entity[0].id);

		isCaroselInitialized = true;

    	AppendToSlide(data, true);

    	$('.item a').each(function(){
	        var r = Math.floor(Math.random()*11)-5;
	        $(this).transition({rotate: r + 'deg', duration:1});
		});

        if( data && data.count < 2){
            $('.contrs .carousel-control').hide();
        }
    	$('#carosel_block').show(200, function(){});
    }

    function AppendToSlide(data, isFistActive){
    	//$('.item.active').empty();
    	//$('.item.active').append('<div class="row"></div>');
    	for (var i = 0; i < data.entity.length; i++) {
    		var a = $('.item.active .polaroid-small')[i];
    		$(a).attr('id', data.entity[i].id);
    		var b = $('.item.active .polaroid-small img')[i];
    		$(b).attr('src', data.entity[i].thumb_url+"?"+new Date().getTime());
    		$(a).click(OpenPictureInfo);
    		/*$('.item.active .row').append(function() {
			  	return $('<div class="col-md-3 col-sm-3 col-xs-3" id="' + data.entity[i].id + '"><a href="#x" class="thumbnail caroselPrev"><img src="' + data.entity[i].thumb_url + '" alt="Image" style="max-width:100%;" /></a></div>').click(OpenPictureInfo);
			});*/
    	};

    	if($('.item.active .polaroid-small').length > data.entity.length){
    		var lenNow = $('.item.active .polaroid-small').length;
    		for (var i = lenNow - 1; i >= (data.entity.length); i--) {
    			var d = $('.item.active .polaroid-small')[i];
    			$(d).remove();
    		};
    	}

    	if(isFistActive){
    		$('.item.active').find('.thumbnail').first().addClass('selected_pic');
    	}
    }
});

function findBootstrapEnvironment() {
    var envs = ['xs', 'sm', 'md', 'lg'];

    $el = $('<div>');
    $el.appendTo($('body'));

    for (var i = envs.length - 1; i >= 0; i--) {
        var env = envs[i];

        $el.addClass('hidden-'+env);
        if ($el.is(':hidden')) {
            $el.remove();
            return env
        }
    };
}

$( window ).resize(function() {
  	if(findBootstrapEnvironment() == 'xs'){
  		$('.over-yes').removeClass('over-yes').addClass('over-just');
  		$('.carousel.slide').removeClass('slide');
  	}else{
  		$('.over-just').removeClass('over-just').addClass('over-yes');
  		$('.carousel').removeClass('slide').addClass('slide');
  	}
});

</script>
{% endif %}

{% endblock %}