{% extends 'care/base.html' %}
{% load i18n %}
{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/">ATO.Care</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        	<li  class="active">
	        		<a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> {% trans "My pictures" %}</a>
	        	</li>
	        	<li>
	        		<a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> {% trans "My info" %}</a>
	        	</li>
	        	<li>
	        		<a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> {% trans "Upload" %}</a>
	        	</li>
	        </ul>
	      
	        <ul class="nav navbar-nav navbar-right">
	        		
	          	<li><a href="{% url 'care:myinfo' %}">{{ user.get_username }}</a></li>
	        		
	        	<li><a href="{% url 'care:logout' %}" class="navbar-link">{% trans "Logout" %} <i class="fa fa-sign-out fa-lg"></i> </a></li>
	      	    
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}

<br>
{% if limit_detected %}
<div class="row">
	<div class="col-md-12">
    	<h2><i class="fa fa-info-circle fa-1x"></i>&nbsp;{% trans "This image is non-editable or not exist..." %}</small></h2>
    </div>
</div>
{% else %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Add new category" %}</h4>
      </div>
      <div class="modal-body">
      	<p style="display:none;" class="text-warning fa fa-warning fa-lg" id="cat_warning"></p>
        <div class="form-group">
        	<label for="id_cat_name">{% trans "New category name:" %}</label>
        	<div class="input-group">
                <input type="text" class="form-control" name="cat_name" id="id_cat_name" placeholder="{% blocktrans %}Category name{% endblocktrans %}" required maxlength="75" >
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
        </div>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary" id="BtnSendCategory">{% trans "Save changes" %}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Add new tag" %}</h4>
      </div>
      <div class="modal-body">
      	<p style="display:none;" class="text-warning fa fa-warning fa-lg"  id="tag_warning"></p>
        <div class="form-group">
        	<label for="id_cat_name">{% trans "New tag name:" %}</label>
        	<div class="input-group">
                <input type="text" class="form-control" name="tag_name" id="id_tag_name" placeholder="{% blocktrans %}Tag name{% endblocktrans %}" required maxlength="75" >
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
        </div>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary" id="BtnSendTag">{% trans "Save changes" %}</button>
      </div>
    </div>
  </div>
</div>

<form action="/care/edit/{{img.id}}/" method="post" role="form" enctype="multipart/form-data">
<div class="row">
	<div class="col-md-12">
		<h2>{% trans "Edit image:" %}</h2>
    	<br />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-12">
    			
				
				    {% csrf_token %}
				    {% if form.errors %}			
	                <div class="alert alert-danger">
	                    <span class="glyphicon glyphicon-remove"></span><strong> {% trans "Error!" %} {{form.errors}}</strong>
	                </div>
	                {% endif %}
				    <div class="form-group">
                    	<label for="id_name">{% trans "Picture name:" %}</label>
                    	<div class="input-group">
	                        <input type="text" class="form-control" name="name" id="id_name" placeholder="{% blocktrans %}Picture name{% endblocktrans %}" required maxlength="100" value="{{form.name.value}}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>	

	                <div class="form-group">
                    	<label for="id_categories">{% trans "Categories:" %}</label>
                    	<div class="input-group" style="width: 100%">
	                        <select multiple class="form-control" id="id_categories" name="categories"  size="6" value="{{form.categories.value}}">
	                        	{% for category in form.categories.value %}
	                        		{% if category in img.category.all %}
	                        			<option value="{{category.id}}" selected="selected">{{category.name}}</option>
	                        		{% else %}
	                        			<option value="{{category.id}}">{{category.name}}</option>
	                        		{% endif %}
	                        	{% endfor %}
							</select>
							<span class="input-group-addon btn btn-default" data-toggle="modal" data-target="#myModal"><span class="fa fa-plus fa-lg text-success"></span></span>
	                    </div>
	                </div>

	                <div class="form-group">
                    	<label for="id_tags">{% trans "Tags:" %}</label>
                    	<div class="input-group"  style="width: 100%">
	                        <select multiple class="form-control" id="id_tags" name="tags"  size="6">
	                        	{% for tag in form.tags.value %}
	                        		{% if tag in img.tag.all %}
	                        			<option value="{{tag.id}}" selected="selected">{{tag.name}}</option>
	                        		{% else %}
	                        			<option value="{{tag.id}}">{{tag.name}}</option>
	                        		{% endif %}
	                        	{% endfor %}
							</select>
							<span class="input-group-addon btn btn-default" data-toggle="modal" data-target="#myModal2"><span class="fa fa-plus fa-lg text-success"></span></span>
	                    </div>
	                </div>				    

	                <button type="button" class="btn btn-default" onclick="go_to_url('/care/detail');">{% trans "Cancel" %}</button>
				    <input type="submit" value="Save changes" class="btn btn-info pull-right" />
				
				<br />
				<br />
				<br />
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-1">
    		</div>
    		<div class="col-md-11">
    			<br />
    			<div class="ato-approved">
			    	<img src="{{ MEDIA_URL }}{{img.photo_medium}}" alt="{{img.name}}" class="img-thumbnail">
			    	{% if img.approve_status = True %}
		      			<i class="fa fa-check fa-4x"></i>
		      		{% else %}
		      			<i class="fa fa-close fa-4x"></i>
		      		{% endif %}
		    	</div>	
    		</div>
    	</div>
    	
	</div>
</div>
</form>
<script>
    function go_to_url(url) {
        window.location = url;
    }

    $(document).on('click','#BtnSendCategory',function(e){
    	var cName = $("#id_cat_name").val()
		  	$.ajax({
		    	url : "/care/addcategory/",
		    	type : "POST",
		    	data : JSON.stringify({"category_name" : encodeURIComponent(cName)}),
		    	contentType: 'application/json; charset=utf-8',
		    	success : function(results){
		      		if (results.success == "true") {
		      			$('#id_categories')
					         .append($("<option></option>")
					         .attr("value",results.val)
					         .attr("selected","selected")
					         .text(results.name));
		      			$('#cat_warning').text('');
		      			$('#cat_warning').hide();
		      			$('#myModal').modal('hide')
		        	//handle DOM insertion and other stuff
		      		} else {
		      			$('#cat_warning').show();
		      			$('#cat_warning').text(results.message);
		      		}
	    		}
	  		});
	});

	$(document).on('click','#BtnSendTag',function(e){
    	var tName = $("#id_tag_name").val()
		  	$.ajax({
		    	url : "/care/addtag/",
		    	type : "POST",
		    	data : JSON.stringify({"tag_name" : encodeURIComponent(tName)}),
		    	contentType: 'application/json; charset=utf-8',
		    	success : function(results){
		      		if (results.success == "true") {
		      			$('#id_tags')
					         .append($("<option></option>")
					         .attr("value",results.val)
					         .attr("selected","selected")
					         .text(results.name));
		      			$('#tag_warning').text('');
		      			$('#tag_warning').hide();
		      			$('#myModal2').modal('hide')
		        	//handle DOM insertion and other stuff
		      		} else {
		      			$('#tag_warning').show();
		      			$('#tag_warning').text(results.message);
		      		}
	    		}
	  		});
	});

</script>
{% endif %}


{% endblock %}