{% extends 'care/base.html' %}
{% load i18n %}
{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/">pics.ATO.care</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        	<li  class="active"><a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> {% trans "My pictures" %}</a></li>
	        	<li><a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> {% trans "My info" %}</a></li>
	        	<li>
	        		<a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> {% trans "Upload" %}</a>
	        	</li>
	        	<li class="dropdown">
		          <a href="{% url 'ato:social' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-users fa-lg"></i> {% trans "Discover" %} <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="{% url 'ato:social' %}"><i class="fa fa-image fa-lg"></i> {% trans "Photos" %}</a></li>
		            <li class="divider"></li>
		            <li><a href="{% url 'ato:social' %}"><i class="fa fa-users fa-lg"></i> {% trans "Photographers" %}</a></li>
		            <li class="divider"></li>
		            <li><a href="{% url 'ato:social' %}"><i class="fa fa-th fa-lg"></i> {% trans "Categories" %}</a></li>
		          </ul>
		        </li>
	        </ul>
	      
	        <ul class="nav navbar-nav navbar-right">

	        	<li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
	                <ul class="dropdown-menu" role="menu">
	                  {% for lang in LANGUAGES %}
			            
			              <form name="setLang{{ lang.1 }}" id="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST">
			              	<li>
			                {% csrf_token %}
			                <input name="next" type="hidden" value="/care">
			                <input type="hidden" name="language" value="{{ lang.0 }}">
			                <a href="" class="{{ lang.1 }} form-li" onclick="document.getElementById('setLang{{ lang.1 }}').submit();return false;">{% if lang.1 == 'English' %} {% trans "English" %} {% else %} {% trans "Ukrainian" %} {% endif %}</a>
			             	</li>
			              </form>
			            
			          {% endfor %}
	                </ul>
	              </li>
	        		
	          	<li><a href="{% url 'care:myinfo' %}">{{ user.get_username }}</a></li>
	        		
	        	<li><a href="{% url 'care:logout' %}" class="navbar-link"><i class="fa fa-sign-out fa-lg"></i> {% trans "Logout" %} </a></li>
	      	    
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}

<br>
{% if limit_detected %}
<div class="row">
	<div class="col-md-12">
    	<h2><i class="fa fa-info-circle fa-1x"></i>&nbsp;{% trans "This image is non-editable or not exist..." %}</small></h2>
    </div>
</div>
{% else %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
       <h4 class="modal-title" id="myModalLabel">{% trans "Add new category" %}</h4>
      </div>
      <div class="modal-body">
      	<p style="display:none;" class="text-warning fa fa-warning fa-lg" id="cat_warning"></p>

        <div class="form-group">
        	<label for="id_cat_name">{% trans "New category name:" %}</label>
        	<div class="input-group">
                <input type="text" class="form-control" name="cat_name" id="id_cat_name" placeholder="{% blocktrans %}Category name{% endblocktrans %}" required maxlength="75" >
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
        </div>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
       <button type="button" class="btn btn-primary" id="BtnSendCategory">{% trans "Save changes" %}</button>
      </div>
    </div>
  </div>
</div>



<form action="/care/edit/{{img.id}}/" method="post" role="form" enctype="multipart/form-data">
<div class="row">
	<div class="col-md-12">
		<h2>{% trans "Edit image:" %}</h2>
    	<br />
    </div>
</div>
<div class="row" id="SelectRow">
	<div class="col-md-4 col-md-offset-1">
		 <div class="well photo_backgr lifted polaroid-face bottom-polaroid"> 
                <div class="ato-approved text-center parent-over">
			    	<span>
				    	<img src="{{ MEDIA_URL }}{{img.photo_medium}}" alt="{{img.name}}" class="img-thumbnail img-full" id="picture_preview">
				    </span>
				    <div class="over-on-hover vcenter" id="ImageEdit">
				    	<h3>{% trans "image" %}</h3>
				    </div>
				</div>
		</div>

	</div>
	<div class="col-md-2 text-center">
		<h3>{% trans "or" %}</h3>
	</div>
	<div class="col-md-4">
		<div class="well photo_backgr curved-hz-1 polaroid-back"> 

    	    	<div class="paper parent-over">
    	    		<h3 id="pic_name">{{img.name}}</h3>
    	    		{% if img.category.all %}
    	    		<div class="row" id="category_container">
					    <label for="CategoryLabel" class="col-md-4 control-label">{% trans "Categories:" %}</label>
					    <div class="col-md-8">
					      	<ul class="list-group" id="pic_category">
					      		{% for category in img.category.all %}
	                        		<li class="list-group-item back-none"><i class="fa fa-list-alt "></i>&nbsp; {{category.name}}</li>
	                        	{% endfor %}   
							</ul>
					    </div>
					</div>
					{% endif %}
					{% if img.tag.all %}
					<div class="row" id="tag_container">
					    <label for="TagLabel" class="col-md-4 control-label">{% trans "Tags:" %}</label>
					    <div class="col-md-8">
					      	<div class="bootstrap-tagsinput back-none" id="pic_tags">
					      		{% for tag in img.tag.all %}
					      		<span class="tag label label-info">{{tag.name}}</span>
					      		{% endfor %} 
					      	</div>
					    </div>
					</div>
					{% endif %}
					<div class="over-on-hover vcenter text-center" id="DescriptionEdit">
				    	<h3>{% trans "description" %}</h3>
				    </div>
    	    	</div>
    	</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="/care/detail">
				<h3>{% trans "Back" %}
				</h3>
			</a>
		</div>
	</div>
</div>





<div class="row" id="ThumbStep" style="display: none"> 
	<div class="col-md-8">
		<h3>{% trans "Edit picture:" %}</h3>
    	<br />
		<div class="well photo_backgr curved-hz-1 polaroid-face" style="overflow: visible;"> 
    	<div class="row">
    		<div class="col-md-12">
    			<div id="UploadedImageContainer">
					<img src=""  class="img-responsive  img-thumbnail" id="UploadedImage">
					
				</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
				<br />
                <div class="col-xs-4 BtnSendThumb">   
                    <button type="button" class="btn btn-primary pull-left btnDelete BtnSendThumb">{% trans "Delete" %}</button>
                </div>
                <div class="col-xs-4 BtnSendThumb text-center visible-sm visible-md visible-lg">
                    <i class="fa fa-rotate-left fa-4x addItem rotate-left">&nbsp;</i>
                    <i class="fa fa-rotate-right fa-4x addItem rotate-right">&nbsp;</i>
                </div>
                <div class="col-xs-4 BtnSendThumb text-center visible-xs">
                    <i class="fa fa-rotate-left fa-2x addItem rotate-left">&nbsp;</i>
                    <i class="fa fa-rotate-right fa-2x addItem rotate-right">&nbsp;</i>
                </div>
				<div class="col-xs-4 BtnSendThumb">    
                    <button type="button" class="btn btn-primary pull-right BtnSendThumb" id="BtnSendThumb">{% trans "Save changes" %}</button>
                </div>
			</div>
		</div>
	</div>
    </div>
    <div class="col-md-4 visible-lg visible-md ">
    	<div class="row">
    		<div class="col-md-11">
    			<hr>
    			<h4>{% trans "Thumbnail will looks:" %}</h4>
    			<div id="preview-pane">
				    <div class="preview-container">
				      	<img src="" class="jcrop-preview" alt="Preview" id="ThumbImage" />
				    </div>
				 </div>
    			<!-- Button trigger modal -->
				
    		</div>
    	</div>
    </div>		
</div>



<div class="row" id="FillStep" style="display: none">
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-12">
    			<h3>{% trans "Edit description:" %}</h3>
    			<br />
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
    			
    			<div class="well photo_backgr curved-hz-1"> 
    			<div class="well well-sm" style="display: none;"><strong><span class="glyphicon glyphicon-asterisk"></span>{% trans "Required Field" %}</strong></div>
				<form action="" method="post" role="form" enctype="multipart/form-data">
				    {% csrf_token %}
				    {% if form.errors %}			
	                <div class="alert alert-danger">
	                    <span class="glyphicon glyphicon-remove"></span><strong> {% trans "Error!" %} {{form.errors}}</strong>
	                </div>
	                {% endif %}
				    <div class="form-group">
                    	<label for="id_name">{% trans "Picture name:" %}</label>
                    	<div class="input-group">
	                        <input type="text" class="form-control" name="name" id="id_name" placeholder="{% blocktrans %}Picture name{% endblocktrans %}" required maxlength="100" value="{{img.name}}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>	

	                <div class="form-group" style=
	                'display: none;'>
                    	<label for="id_image">{% trans "Image:" %}</label>
                    	<div class="input-group">
	                        <input type="file" class="form-control" name="image" id="id_image" placeholder="Image" title="{% blocktrans %}Select the file here{% endblocktrans %}" required data-filename-placement="inside">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>	
	                <div class="form-group">
                   	<label for="id_categories">{% trans "Categories:" %}</label>
                    	<div class="input-group" style="width: 100%">
	                        <select multiple class="form-control" id="id_categories" name="categories"  size="6" value="{{form.categories.value}}">
	                        	{% for category in form.categories.value %}
	                        		{% if category in img.category.all %}
	                        			<option value="{{category.id}}" selected="selected">{{category.name}}</option>
	                        		{% else %}
	                        			<option value="{{category.id}}">{{category.name}}</option>
	                        		{% endif %}
	                        	{% endfor %}
							</select>
							<span class="input-group-addon btn btn-default" id="AddCategoryModalBtn"><span class="fa fa-plus fa-lg text-success"></span></span>
	                    </div>
	                </div>
	                <!-- <div class="form-group">  
				    	<label for="CategoryLabel" class="control-label">{% trans "Categories:" %}</label>
				    	<div class="input-group">
		                    <input type="text" autocomplete="off" data-provide="typeahead" class="form-control typeahead" name="cat_name" id="cat_name" placeholder="{% blocktrans %}Type category here{% endblocktrans %}" required maxlength="" >
		                    <span class="input-group-addon addItem" onclick="AddCategory()"><span class="fa fa-plus text-success " ></span></span>
		                </div>
				    	
				      	<ul class="list-group" id="categories_list">
				      		
						
						    
						</ul>
					</div>-->	

	                <div class="form-group">
			        	<label for="id_tags">{% trans "Tags:" %}</label>
			        	<div class="input-group">
			                <input type="text" autocomplete="off" data-provide="typeahead" class="form-control typeahead" name="tag_name" id="tag_name" placeholder="{% blocktrans %}Type tag here{% endblocktrans %}" required maxlength="" >
			                <span class="input-group-addon addItem" onclick="AddTag()"><span class="fa fa-plus text-success " ></span></span>
			            </div>
			            <br> 
			            <div class="input-group" id="tag_group">
			        		<input type="text" data-role="tagsinput" class="form-control disable" name="tag_names" id="tag_names" readonly>
			        	</div>
			        </div>				    
                    <button type="button" class="btn btn-primary pull-left btnDelete">{% trans "Delete" %}</button>

				    <input type="button" id="btnFinish" value="{% blocktrans %}Save changes{% endblocktrans %}" class="btn btn-primary pull-right" />
				</form>
				<br />
				<br />
				<br />
				</div>
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-12">
    			<h3>&nbsp;</h3>
    			<br />
    		</div>
    	</div>
    	<div class="row">

    		<div class="col-md-11 col-md-offset-1">
    			
    			 <div class="well photo_backgr lifted img-pad polaroid-face"> 
    			<img src=""  class="img-responsive  img-thumbnail" id="UploadedImageFull">
			</div>
    		</div>
    	</div>
    	
	</div>
</div>
















<!--<div class="row">
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-12">
    			
				
				    {% csrf_token %}
				    {% if form.errors %}			
	                <div class="alert alert-danger">
	                    <span class="glyphicon glyphicon-remove"></span><strong> {% trans "Error!" %} {{form.errors}}</strong>
	                </div>
	                {% endif %}
				    <div class="form-group">
                    	<label for="id_name">{% trans "Picture name:" %}</label>
                    	<div class="input-group">
	                        <input type="text" class="form-control" name="name" id="id_name" placeholder="{% blocktrans %}Picture name{% endblocktrans %}" required maxlength="100" value="{{form.name.value}}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>	

	                <div class="form-group">
                    	<label for="id_categories">{% trans "Categories:" %}</label>
                    	<div class="input-group" style="width: 100%">
	                        <select multiple class="form-control" id="id_categories" name="categories"  size="6" value="{{form.categories.value}}">
	                        	{% for category in form.categories.value %}
	                        		{% if category in img.category.all %}
	                        			<option value="{{category.id}}" selected="selected">{{category.name}}</option>
	                        		{% else %}
	                        			<option value="{{category.id}}">{{category.name}}</option>
	                        		{% endif %}
	                        	{% endfor %}
							</select>
							<span class="input-group-addon btn btn-default" data-toggle="modal" data-target="#myModal"><span class="fa fa-plus fa-lg text-success"></span></span>
	                    </div>
	                </div>

	                <div class="form-group">
                    	<label for="id_tags">{% trans "Tags:" %}</label>
                    	<div class="input-group"  style="width: 100%">
	                        <select multiple class="form-control" id="id_tags" name="tags"  size="6">
	                        	{% for tag in form.tags.value %}
	                        		{% if tag in img.tag.all %}
	                        			<option value="{{tag.id}}" selected="selected">{{tag.name}}</option>
	                        		{% else %}
	                        			<option value="{{tag.id}}">{{tag.name}}</option>
	                        		{% endif %}
	                        	{% endfor %}
							</select>
							<span class="input-group-addon btn btn-default" data-toggle="modal" data-target="#myModal2"><span class="fa fa-plus fa-lg text-success"></span></span>
	                    </div>
	                </div>				    

	                <button type="button" class="btn btn-default" onclick="go_to_url('/care/detail');">{% trans "Cancel" %}</button>
				    <input type="submit" value="Save changes" class="btn btn-info pull-right" />
				
				<br />
				<br />
				<br />
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-1">
    		</div>
    		<div class="col-md-11">
    			<br />
    			<div class="ato-approved">
			    	<img src="{{ MEDIA_URL }}{{img.photo_medium}}" alt="{{img.name}}" class="img-thumbnail">
			    	{% if img.approve_status = True %}
		      			<i class="fa fa-check fa-4x"></i>
		      		{% else %}
		      			<i class="fa fa-close fa-4x"></i>
		      		{% endif %}
		    	</div>	
    		</div>
    	</div>
    	
	</div>
</div>-->
</form>
<input type="hidden" id="pic_uncompleted_id" value="{{image.id}}">
<input type="hidden" id="pic_uncompleted_url" value="{{image.url}}">
<input type="hidden" id="pic_uncompleted_deleteUrl" value="{{image.deleteUrl}}">
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script>
    function go_to_url(url) {
        window.location = url;
    }

    $( document ).ready(function() {
    	$.ajaxSetup({
            headers: { "X-CSRFToken": $.cookie("csrftoken") }
        });



        $("#tag_name").typeahead({
		    source: function (query, process) {
		        return $.get('/care/gettag/', { query: query }, function (data) {
		            return process(exceptExistingTags(data.entity));
		        });
		    },
		    updater: function(item) {
				addToTags(item);

		        console.log(item);
		        return '';
		    }
		});

		$("#tag_names").tagsinput({
		    itemValue: 'id',
		    itemText: 'text'
		});

		$("#tag_names").on('beforeItemRemove', function(event) {
			removeFromTags(event.item);
		});

		$("#tag_group").hide();
    });




    ///////////////////////////////////////////////////////////////

    //////////////
	///////
	//////////////

	var jcrop_api,
        boundx,
        boundy;
	var leftc, topc, rightc, bottomc, id_p, d_url, p_url;	

	$(document).on('click','#ImageEdit',function(e){
		OnImageLoaded($('#pic_uncompleted_url').val(), $('#pic_uncompleted_id').val(), $('#pic_uncompleted_deleteUrl').val());
	});

	$(document).on('click','#DescriptionEdit',function(e){
		id_p = $('#pic_uncompleted_id').val();
		if(!p_url){
			p_url = $('#pic_uncompleted_url').val();
		}
		d_url = $('#pic_uncompleted_deleteUrl').val();
		$("#SelectRow").hide(400, function(){
			$('#UploadedImageFull').attr('src', p_url+"?"+new Date().getTime());


			{% for tag in img.tag.all %}
				var t = {};
				t.id = {{ tag.id }};
				t.name = '{{ tag.name }}';
				tags.push(t);
				$('#tag_names').tagsinput('add', { id: t.id, text: t.name });
				$('#tag_group').show();
			{% endfor %}

			$("#FillStep").show(400);
		});
	});

	$preview = $('#preview-pane'),
    $pcnt = $('#preview-pane .preview-container'),
    $pimg = $('#preview-pane .preview-container img'),

    xsize = $pcnt.width(),
    ysize = $pcnt.height();

	function OnImageLoaded(url, id, dUrl){
        d_url = dUrl;
		id_p = id;
		p_url = url;
        if(jcrop_api){
            jcrop_api.destroy();
        }
		$('#upload_warning').hide();
		$('#UploadedImage').attr('src', p_url+"?"+new Date().getTime());
		$('#UploadedImageFull').attr('src', p_url+"?"+new Date().getTime());
		$('#ThumbImage').attr('src', p_url+"?"+new Date().getTime());

        $('#SelectRow').hide(400, function(){
        	 $('#ThumbStep').show(400, function(){
        		$('#UploadedImage').Jcrop({
			        onChange:   showCoords,
			        onSelect:   showCoords,
			        aspectRatio: 1 / 1,
			        minSize: [100, 100]
			    },function(){
			    	// Use the API to get the real image size
				      var bounds = this.getBounds();
                      console.log("Bounds:");
				      boundx = bounds[0];
                      console.log("x:"+boundx);
                      console.log("orginal x="+$('#UploadedImage').width());
				      boundy = bounds[1];
                      console.log("y:"+boundy);
                      console.log("orgonal y="+$('#UploadedImage').height());

			        jcrop_api = this;

			        jcrop_api.setSelect(getRandom());

			        // Move the preview into the jcrop container for css positioning
      				$preview.appendTo(jcrop_api.ui.holder);
      				$('.preview-container img').attr('src', p_url+"?"+new Date().getTime());
			    });
        	});
        }); 
	}

	function getRandom() {
		var dim = jcrop_api.getBounds();
		return [
			Math.round(0.15 * dim[0]),
			Math.round(0.15 * dim[1]),
			Math.round(0.5 * dim[0]),
			Math.round(0.5 * dim[1])
		];
	};

	function showCoords(c)
	{
		if (parseInt(c.w) > 0)
	    {
	      	xs = $('#UploadedImage').width(),
	        ys = $('#UploadedImage').height();

	        leftc = (c.x/xs);
	        topc = (c.y/ys);
	        rightc = (c.x2/xs);
	        bottomc = (c.y2/ys);

	        //console.log('x1:' + c.x + '; y1:' + c.y + '; x2:' + c.x2 + '; y2:' + c.y2 + '; w:' + c.w + '; h:' + c.h);
	  		//Prview
	  		var rx = xsize / c.w;
	        var ry = ysize / c.h;

	        $pimg.css({
	          width: Math.round(rx * boundx) + 'px',
	          height: Math.round(ry * boundy) + 'px',
	          marginLeft: '-' + Math.round(rx * c.x) + 'px',
	          marginTop: '-' + Math.round(ry * c.y) + 'px'
	        });
	     }
	};

	$(document).on('click','#BtnSendThumb',function(e){
	  	$.ajax({
	    	url : "/care/addthumb/",
	    	type : "POST",
	    	data : JSON.stringify({"left" : leftc, "top" : topc, 'right': rightc, 'bottom': bottomc, 'pic_id': id_p}),
	    	contentType: 'application/json; charset=utf-8',
	    	success : function(results){
	      		if (results.success == "true") {
	      			$('#upload_warning').hide();
	      			$('#ThumbStep').hide(400, function(){
	      				$('#SelectRow').show(400, function(){});
	      			});
	        	//handle DOM insertion and other stuff
	      		} else {
	      			$('#upload_warning').show();
	      			$('#upload_warning').text(results.message);
	      		}
    		}
  		});
	});

	///////////////////////////////////////////////////////////////



	tags = [];
	proposed_tags = [];

	function addToTags(tag) {
    	if($.grep(tags, function(e){ return e.id == tag.id; }).length > 0){
    		return; //already have
    	}else{
    		$("#tag_group").show()
    		$('.bootstrap-tagsinput').children('input').hide();
    		tags.push(tag);
    		$('#tag_names').tagsinput('add', { id: tag.id, text: tag.name });
    	}
    }

    function removeFromTags(item){
    	for (var i = 0; i < tags.length; i++) {
    		if(tags[i].id == item.id){
    			tags = $.grep(tags, function(value) {
				  return value != tags[i];
				});
    			return;
    		}
    	};
    }

    function exceptExistingTags(entity){
    	for (var i = 0; i < tags.length; i++) {
    		entity = $.grep(entity, function(value) {
			  	return value.id != tags[i].id;
			});
    	};
    	proposed_tags = entity;
    	return entity;
    }

    function AddTag(){
    	cat_val = $("#tag_name").val();
    	if($.grep(tags, function(e){ return e.name.toLowerCase() == cat_val.toLowerCase(); }).length > 0){
    		//already have
    		return;
    	}else{
    		AddNewTag(cat_val);
    	}
    }

    function AddNewTag(name){
    	var cName = name
		  	$.ajax({
		    	url : "/care/addtag/",
		    	type : "POST",
		    	data : JSON.stringify({"tag_name" : encodeURIComponent(cName)}),
		    	contentType: 'application/json; charset=utf-8',
		    	success : function(results){
		      		if (results.success == "true") {
		      			$('#upload_warning').text('');
		      			$('#upload_warning').hide();
		      			cat_val = $("#tag_name").val('');
		      			addToTags({ id: results.val, name: results.name });
		        	//handle DOM insertion and other stuff
		      		} else {
		      			$('#upload_warning').show();
		      			$('#upload_warning').text(results.message);
		      		}
	    		}
	  		});
    }


    $(document).on('click','#btnFinish',function(e){
		catsIds = $('#id_categories').val();


		tagsIds = [];
		if(tags){
			for (var i = 0; i < tags.length; i++) {
				tagsIds.push(tags[i].id);
			};
		}
	  	$.ajax({
	    	url : "/care/adddescription/",
	    	type : "POST",
	    	data : JSON.stringify({"pic_name" : encodeURIComponent($('#id_name').val()), 
	    		"pic_cats" : catsIds, 
	    		"pic_tags" : tagsIds, 
	    		'pic_id': id_p}),
	    	contentType: 'application/json; charset=utf-8',
	    	success : function(results){
	      		if (results.success == "true") {
	      			$('#upload_warning').hide();
	      			$('#FillStep').hide(400, function() {
	      				$('#SelectRow').show(400);
	      			})
	      		} else {
	      			$('#upload_warning').show();
	      			$('#upload_warning').text(results.message);
	      		}
    		}
  		});
	});

    $(document).on('click','.btnDelete',function(e){
        $.ajax({
            url : d_url,
            type : "POST",
            contentType: 'application/json; charset=utf-8',
            success : function(data){
                results = JSON.parse(data)
                if (results.success == "true") {
                    $('#upload_warning').hide();
                    go_to_url('/care/detail');
                } else {
                    $('#upload_warning').show();
                    $('#upload_warning').text(results.message);
                }
            }
        });
    });

    $(document).on('click','.rotate-left',function(e){
        $.ajax({
            url : "/care/rotatephoto/",
            type : "POST",
            data : JSON.stringify({"pic_id" : id_p, "angle": "left"}),
            contentType: 'application/json; charset=utf-8',
            success : function(data){
                results = data;
                if (results.success == "true") {
                    $('#upload_warning').hide();
                    $('#ThumbStep').hide(400);
                    setTimeout(function(){
                        OnImageLoaded($('#UploadedImage').attr('src'), id_p, d_url);
                    }, 1000);
                } else {
                    $('#upload_warning').show();
                    $('#upload_warning').text(results.message);
                }
            }
        });
    });

    $(document).on('click','.rotate-right',function(e){
        $.ajax({
            url : "/care/rotatephoto/",
            type : "POST",
            data : JSON.stringify({"pic_id" : id_p, "angle": "right"}),
            contentType: 'application/json; charset=utf-8',
            success : function(data){
                results = data;
                if (results.success == "true") {
                    $('#upload_warning').hide();
                    $('#ThumbStep').hide(400);
                    setTimeout(function(){
                        OnImageLoaded($('#UploadedImage').attr('src'), id_p, d_url);
                    }, 1000);
                } else {
                    $('#upload_warning').show();
                    $('#upload_warning').text(results.message);
                }
            }
        });
    });


    //////////////////////////////////////////////////////


    $(document).on('click','#AddCategoryModalBtn',function(e){
		$('#myModal').modal('show');
		    $('#myModal').on('shown', function() {
		        $("#id_cat_name").focus();
		    })
	});

	$(document).on('click','#BtnSendCategory',function(e){
    	var cName = $("#id_cat_name").val();
    	$.ajax({
 		    	url : "/care/addcategory/",
 		    	type : "POST",
 		    	data : JSON.stringify({"category_name" : encodeURIComponent(cName)}),
 		    	contentType: 'application/json; charset=utf-8',
 		    	success : function(results){
 		      		if (results.success == "true") {
		      			$('#id_categories')
					         .append($("<option></option>")
					         .attr("value",results.val)
					         .attr("selected","selected")
					         .text(results.name));
		      			$('#cat_warning').text('');
		      			$('#cat_warning').hide();
		      			$('#myModal').modal('hide');
		      			cat_val = $(".typeahead").val('');
		      			addToCategories({ id: results.val, name: results.name });
 		        	//handle DOM insertion and other stuff
 		      		} else {
		      			$('#cat_warning').show();
		      			$('#cat_warning').text(results.message);
 		      		}
 	    		}
 	  		});
	});


</script>
{% endif %}


{% endblock %}