{% extends 'care/base.html' %}
{% load i18n %}
{% block header %}
{% endblock %}
{% block content %}

<form class="form-signin text-center" method="post">
{% csrf_token %}

	<h2 class="form-signin-heading">{% trans "Logged out" %}</h2>
	<h4 class="form-signin-heading">{% trans "Thanks for spending some quality time with the ATO.care today." %}</h4>

	<a href="/care/login">{% trans "Log in again" %}</a>
</form>
<script src="{{STATIC_URL}}js/jquery.min.js"></script>

<script language="javascript" type="text/javascript">
     <!--
     window.setTimeout('window.location="/care/login"; ',2800);
     // -->
 </script>

{% endblock %}