{% extends 'care/base.html' %}

{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="#">ATO.care</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        	<li>
	        		<a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> My pictures</a>
	        	</li>
	        	<li  class="active">
	        		<a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> My info</a>
	        	</li>
	        	<li>
	        		<a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> Upload</a>
	        	</li>
	        </ul>
	      
	        <ul class="nav navbar-nav navbar-right">
	        		
	          	<li><a href="{% url 'care:myinfo' %}">{{ user.get_username }}</a></li>
	        		
	        	<li><a href="{% url 'care:logout' %}" class="navbar-link">Logout <i class="fa fa-sign-out fa-lg"></i> </a></li>
	      	    
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-12">
    			<h2>User information: </h2>
    			<h3 class="text-warning">{% if name_empty %}
    				<i class="fa fa-info-circle fa-1x"></i>&nbsp;Fill your name, to continue...
    				{% endif %} </h3>
    			<br />
				<form action="{% url 'care:myinfo' %}" method="post" role="form">
				    {% csrf_token %}
				    {% if form.errors %}			
	                <div class="alert alert-danger">
	                    <span class="glyphicon glyphicon-remove"></span><strong> Error! {{form.errors}}</strong>
	                </div>
	                {% endif %}

	                <div class="form-group">
                    	<label for="id_email">Email:</label>
                    	<div class="input-group">
	                        <input type="email" class="form-control" name="email" id="id_email" placeholder="e-mail" required maxlength="30" value="{{form.email.value}}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="id_first_name">First name:</label>
	                    <div class="input-group">
	                        <input type="text" class="form-control" name="first_name" id="id_first_name" placeholder="First name" required maxlength="30"  value="{{form.first_name.value}}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>


	                <div class="form-group">
	                    <label for="id_last_name">Last name:</label>
	                    <div class="input-group ">
	                        <input type="text" class="form-control" name="last_name" id="id_last_name" placeholder="Last name" required maxlength="30"  value="{{form.last_name.value }}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>




				    <!--{{ form }}-->
				    <input type="submit" value="Submit" class="btn btn-info pull-right" />
				</form>
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	
	</div>
</div>

<script>
    function go_to_url(url) {
        window.location = url;
    }
    function make_editable (id) {
    	if($("#"+id).prop('disabled'))
    	{
    		$("#"+id).prop('disabled', false);
    		$("#"+id+"_make").children().removeClass('fa-pencil');
    		$("#"+id+"_make").children().addClass('fa-times-circle');
    	}else{
    		$("#"+id).prop('disabled', true);
    		$("#"+id).val($("#"+id+"_hidden").val());
    		$("#"+id+"_make").children().removeClass('fa-times-circle');
    		$("#"+id+"_make").children().addClass('fa-pencil');
    	}
    	
    }
</script>
{% endblock %}