{% extends 'care/base.html' %}
{% load i18n %}
{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/">pics.ATO.care</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        	<li ><a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> {% trans "My pictures" %}</a></li>
	        	<li class="active"><a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> {% trans "My info" %}</a></li>
	        	<li>
	        		<a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> {% trans "Upload" %}</a>
	        	</li>
	        </ul>
	      
	        <ul class="nav navbar-nav navbar-right">

	        	<li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
	                <ul class="dropdown-menu" role="menu">
	                  {% for lang in LANGUAGES %}
			            
			              <form name="setLang{{ lang.1 }}" id="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST">
			              	<li>
			                {% csrf_token %}
			                <input name="next" type="hidden" value="/care/myinfo">
			                <input type="hidden" name="language" value="{{ lang.0 }}">
			                <a href="" class="{{ lang.1 }} form-li" onclick="document.getElementById('setLang{{ lang.1 }}').submit();return false;">{{ lang.1 }}</a>
			             	</li>
			              </form>
			            
			          {% endfor %}
	                </ul>
	              </li>
	        		
	          	<li><a href="{% url 'care:myinfo' %}">{{ user.get_username }}</a></li>
	        		
	        	<li><a href="{% url 'care:logout' %}" class="navbar-link"><i class="fa fa-sign-out fa-lg"></i> {% trans "Logout" %} </a></li>
	      	    
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Add new link" %}</h4>
      </div>
      <div class="modal-body">
      	<p style="display:none;" class="text-warning fa fa-warning fa-lg" id="cat_warning"></p>
        <div class="form-group">
            <label for="id_link_type">{% trans "Choose link type:" %}</label>
            <div class="form-group">
                <div class="input-group "  required>
                	<select class="selectpicker" data-size="auto" id="id_link_type" name="link_type">
                		{% for link_type in link_types %}
                			<option value="{{ link_type.id }}" class="fa fa-{{ link_type.type_tag }}"><p>&nbsp;{{ link_type.type_tag }}</p></option>
                		{% endfor %}
					</select>
					<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
        	</div>	
        	<label for="id_link_url">{% trans "Link URL:" %}</label>
        	<div class="input-group">
                <input type="text" class="form-control" name="link_url" id="id_link_url" placeholder="{% blocktrans %}Link url{% endblocktrans %}" required maxlength="75" >
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary" id="BtnSendLink">{% trans "Save changes" %}</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<h2>{% trans "User information:" %} </h2>
			<h3 class="text-warning">{% if name_empty %}
				<i class="fa fa-info-circle fa-1x"></i>&nbsp;{% trans "Fill your name, to continue..." %}
				{% endif %} </h3>
			<br />
	</div>
</div>
<div class="row">
    <div class="col-sm-6">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="well photo_backgr curved-hz-1"> 
				<form action="{% url 'care:myinfo' %}" method="post" role="form">
				    {% csrf_token %}
				    {% if form.errors %}			
	                <div class="alert alert-danger">
	                    <span class="glyphicon glyphicon-remove"></span><strong> {% trans "Error!" %} {{form.errors}}</strong>
	                </div>
	                {% endif %}

	                <div class="form-group">
                    	<label for="id_email">{% trans "Email:" %}</label>
                    	<div class="input-group">
	                        <input type="email" class="form-control" name="email" id="id_email" placeholder="{% blocktrans %}Email{% endblocktrans %}" required maxlength="30" value="{{form.email.value}}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="id_first_name">{% trans "First name:" %}</label>
	                    <div class="input-group">
	                        <input type="text" class="form-control" name="first_name" id="id_first_name" placeholder="{% blocktrans %}First name{% endblocktrans %}" required maxlength="30"  value="{{form.first_name.value}}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>


	                <div class="form-group">
	                    <label for="id_last_name">{% trans "Last name:" %}</label>
	                    <div class="input-group ">
	                        <input type="text" class="form-control" name="last_name" id="id_last_name" placeholder="{% blocktrans %}Last name{% endblocktrans %}" required maxlength="30"  value="{{form.last_name.value }}">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="id_last_name">{% trans "Links:" %}</label>
	                    <ul class="list-group" id="id_link_list">
			      		{% for link in user_links.all %}
					    	<li class="list-group-item"><i class="fa fa-{{link.link_type.type_tag}} "></i>&nbsp; {{link.link_url}}</li>
					    {% endfor %}
						</ul>
						 
	                </div>
				    <!--{{ form }}-->
				    <input type="submit" value="{% blocktrans %}Save changes{% endblocktrans %}" class="btn btn-info pull-right" />
				</form>
				<button data-toggle="modal" data-target="#myModal3" class="btn btn-link"> <i class="fa fa-plus"></i>&nbsp;{% trans "Add new" %}</button>
			</div>
			</div>
		</div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4 visible-md visible-lg">
    	<img id="user_pic" src="{{user_picture}}" alt="ATO.care" class="img-responsive img-thumbnail img-rounded">

<div class="upload_form">
  <form id="upload" action="/care/adduserphoto/" method="post" enctype="multipart/form-data" class="upload-form">{% csrf_token %}
    	<div style="display:none">
    		<input name="files" id="lefile" type="file">
    	</div>
    	<hr>
    	<div id="warn" style="display:none;">
    		<div class="alert alert-danger">
                <span class="glyphicon glyphicon-remove"></span>{% trans "Error!" %} 
                <br>
                <strong id="warning_upload">  </strong>
            </div>
    	</div>
    	<div class="progress" style="display:none;">
	      	<div class="bar">&nbsp;</div >
	      	<div class="percent">0%</div >
      	</div>
      
      	<div style="display: inline" class="input-append">
      		<a class="btn btn-info" onclick="$('input[id=lefile]').click();">{% trans "Select photo" %}</a>
        	<label id="photoCover" class="input-large" type="text">
      	</div>
      	<button id="upload-btn" class="btn upload-button"  style="display:none;"><i class="icon-arrow-up"></i></a></button>
      
 
 
  </form>
</div>
 
   	
	</div>
	<div class="col-sm-1">
    </div>
</div>
<br />
<br />
<script src="{{STATIC_URL}}js/jquery.min.js"></script>

<script src="{{STATIC_URL}}js/jquery.form.js"></script>

<script type="text/javascript">
      $('input[id=lefile]').change(function() {
         $('#photoCover').html($(this).val());
         $('#warning_upload').html('');
         $('#warn').hide();
         if($(this).val()){
         	$('#upload-btn').click();
         }
      });
      </script>
 
      <script type="text/javascript">
              (function() {
                  
              var bar = $('.bar');
              var percent = $('.percent');
              var status = $('#status');
                 
              $('#upload').ajaxForm({
                  beforeSend: function() {
                      $('.progress').show();
                      document.getElementById("upload-btn").disabled=true;
                      status.empty();
                      var percentVal = '0%';
                      bar.width(percentVal)
                      percent.html(percentVal);
                  },
                  uploadProgress: function(event, position, total, percentComplete) {
                      var percentVal = percentComplete + '%';
                      bar.width(percentVal)
                      percent.html(percentVal);
                  },
                  success: function() {
                      var percentVal = '100%';
                      bar.width(percentVal)
                      percent.html("100%");
                  },
                complete: function(xhr) {
                  status.html(xhr.responseText);
                  var resp = jQuery.parseJSON(xhr.responseText);

                  if(resp.success == true){
                  	$('#user_pic').attr('src', resp.img_url);
                  	
                  	$('#warning_upload').html('');
                  	$('#warn').hide();
                  }else{
                  	$('#warning_upload').html(resp.message);
                  	$('#warn').show();
                  }
                  $('#photoCover').html('');
                  
                  //$('.uploads_table tr:last').after().fadeIn("slow");

                  setTimeout(function (){ $('.progress').hide(700); }, 500);
                  document.getElementById("upload-btn").disabled=false;
                }
              }); 

              })();       
      </script>


<script>
	
	$( document ).ready(function() {
    	$.ajaxSetup({
            headers: { "X-CSRFToken": $.cookie("csrftoken") }
        });
    });

    function go_to_url(url) {
        window.location = url;
    }

    $(document).on('click','#BtnSendLink',function(e){
    	var l_url = $("#id_link_url").val()
    	var l_type = $("#id_link_type").val()
		  	$.ajax({
		    	url : "/care/addlink/",
		    	type : "POST",
		    	data : JSON.stringify({"link_url" : l_url, "link_type": l_type,}),
		    	contentType: 'application/json; charset=utf-8',
		    	success : function(results){
		      		if (results.success == "true") {
		      			var insertion = "<li class='list-group-item'>" +
										"<i class='fa fa-" + results.type + 
										"'></i> &nbsp; " +
										results.val + "</li>";
		      			$('#id_link_list').append(insertion);
		      			$('#cat_warning').text('');
		      			$('#cat_warning').hide();
		      			$('#myModal3').modal('hide')
		        	//handle DOM insertion and other stuff
		      		} else {
		      			$('#cat_warning').show();
		      			$('#cat_warning').text(results.message);
		      		}
	    		}
	  		});
	});
</script>
{% endblock %}