{% extends 'care/base.html' %}
{% load i18n %}
{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/">pics.ATO.care</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        	<li><a href="{% url 'care:detail' %}"><i class="fa fa-image fa-lg"></i> {% trans "My pictures" %}</a></li>
	        	<li><a href="{% url 'care:myinfo' %}"><i class="fa fa-user fa-lg"></i> {% trans "My info" %}</a></li>
	        	<li class="active">
	        		<a href="{% url 'care:upload' %}"><i class="fa fa-upload fa-lg"></i> {% trans "Upload" %}</a>
	        	</li>
	        </ul>
	      
	        <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {% for lang in LANGUAGES %}
                        
                          <form name="setLang{{ lang.1 }}" id="setLang{{ lang.1 }}" action="/i18n/setlang/" method="POST">
                            <li>
                            {% csrf_token %}
                            <input name="next" type="hidden" value="/care/upload">
                            <input type="hidden" name="language" value="{{ lang.0 }}">
                            <a href="" class="{{ lang.1 }} form-li" onclick="document.getElementById('setLang{{ lang.1 }}').submit();return false;">{% if lang.1 == 'English' %} {% trans "English" %} {% else %} {% trans "Ukrainian" %} {% endif %}</a>
                            </li>
                          </form>
                        
                      {% endfor %}
                    </ul>
                  </li>
                    
                <li><a href="{% url 'care:myinfo' %}">{{ user.get_username }}</a></li>
                    
                <li><a href="{% url 'care:logout' %}" class="navbar-link"><i class="fa fa-sign-out fa-lg"></i> {% trans "Logout" %} </a></li>
                
            </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
<div class="padme">
<br>
{% if limit_detected %}
<div class="row">
	<div class="col-md-12">
    	<h2><i class="fa fa-info-circle fa-1x"></i>&nbsp;{% trans "The daily limit of possible uploads exceeded!" %}&nbsp;<small>&nbsp;{% trans "Try add another picture tomorrow..." %}</small></h2>
    </div>
</div>
{% else %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
       <h4 class="modal-title" id="myModalLabel">{% trans "Add new category" %}</h4>
      </div>
      <div class="modal-body">
      	<p style="display:none;" class="text-warning fa fa-warning fa-lg" id="cat_warning"></p>

        <div class="form-group">
        	<label for="id_cat_name">{% trans "New category name:" %}</label>
        	<div class="input-group">
                <input type="text" class="form-control" name="cat_name" id="id_cat_name" placeholder="{% blocktrans %}Category name{% endblocktrans %}" required maxlength="75" >
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
        </div>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
       <button type="button" class="btn btn-primary" id="BtnSendCategory">{% trans "Save changes" %}</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-7">
		<h1>
            {% if not_completed %}
                {% trans "Continue adding new image to service:" %}
            {% else %}
                {% trans "Add new image to service:" %}
            {% endif %}
        </h1>
        
		<p style="display:none;" class="text-danger fa fa-warning fa-lg" id="upload_warning"></p>
	</div>
	<div class="col-md-3 col-md-offset-2">
		<img src="{{STATIC_URL}}/img/download.png" class="img-responsive" style="height: 75px;">
	</div>
</div>

<div class="row" id="UploadStep"> 
	<div class="col-md-7">
    	<div class="row">
    		<div class="col-md-12">
    			<h3>{% trans "1 Upload a new image:" %}</h3>
    			<br />

    			<div class="alert alert-danger" id="uploadWarning" style="display: none;">
                    <span class="glyphicon glyphicon-remove"></span><strong>{% trans "Error!" %} <span id="uploadWarningContent"></span></strong>
                </div>
                <h4 id="progress-header" style="display: none;">{% trans "Loading..." %} <span id="progress-percent"></span></h1>
    			{% load jfutags %}
				{% jfu %}
    		</div>
    	</div>
    </div>
    <div class="col-md-5">
    		
    		<div class="col-md-11">
    			<hr>
    			<h3>{% trans "Please take your attention to:" %}</h3>
    			<ul>
    				<li>{% trans "attention1" %}</li>
    				<li>{% trans "attention2" %}</li>
    				<li>{% trans "attention3" %}</li>
    				<li>{% trans "attention4" %}</li>
    				<li>{% trans "attention5" %}</li>
    				<li>{% trans "attention6" %}</li>
    			</ul>
    			<!-- Button trigger modal -->
				
    		</div>
    	
    </div>		
</div>
<div class="row" id="ThumbStep" style="display: none"> 
	<div class="col-md-8">
		<h3>{% trans "2 Choose thumbnail:" %}</h3>
    	<br />
		<div class="well photo_backgr curved-hz-1 polaroid-face" style="overflow: visible;"> 
    	<div class="row">
    		<div class="col-md-12">
    			<div id="UploadedImageContainer">
					<img src=""  class="img-responsive  img-thumbnail" id="UploadedImage">
					
				</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
				<br />
                <div class="col-xs-4 BtnSendThumb">   
                    <button type="button" class="btn btn-primary pull-left btnDelete BtnSendThumb">{% trans "Delete" %}</button>
                </div>
                <div class="col-xs-4 BtnSendThumb text-center visible-sm visible-md visible-lg">
                    <i class="fa fa-rotate-left fa-4x addItem rotate-left">&nbsp;</i>
                    <i class="fa fa-rotate-right fa-4x addItem rotate-right">&nbsp;</i>
                </div>
                <div class="col-xs-4 BtnSendThumb text-center visible-xs">
                    <i class="fa fa-rotate-left fa-2x addItem rotate-left">&nbsp;</i>
                    <i class="fa fa-rotate-right fa-2x addItem rotate-right">&nbsp;</i>
                </div>
				<div class="col-xs-4 BtnSendThumb">    
                    <button type="button" class="btn btn-primary pull-right BtnSendThumb" id="BtnSendThumb">{% trans "Save changes" %}</button>
                </div>
			</div>
		</div>
	</div>
    </div>
    <div class="col-md-4 visible-lg visible-md ">
    	<div class="row">
    		<div class="col-md-11">
    			<hr>
    			<h4>{% trans "Thumbnail will looks:" %}</h4>
    			<div id="preview-pane">
				    <div class="preview-container">
				      	<img src="" class="jcrop-preview" alt="Preview" id="ThumbImage" />
				    </div>
				 </div>
    			<!-- Button trigger modal -->
				
    		</div>
    	</div>
    </div>		
</div>
<div class="row" id="FillStep" style="display: none">
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-12">
    			<h3>{% trans "3 Finish with description:" %}</h3>
    			<br />
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
    			
    			<div class="well photo_backgr curved-hz-1"> 
    			<div class="well well-sm" style="display: none;"><strong><span class="glyphicon glyphicon-asterisk"></span>{% trans "Required Field" %}</strong></div>
				<form action="" method="post" role="form" enctype="multipart/form-data">
				    {% csrf_token %}
				    {% if form.errors %}			
	                <div class="alert alert-danger">
	                    <span class="glyphicon glyphicon-remove"></span><strong> {% trans "Error!" %} {{form.errors}}</strong>
	                </div>
	                {% endif %}
				    <div class="form-group">
                    	<label for="id_name">{% trans "Picture name:" %}</label>
                    	<div class="input-group">
	                        <input type="text" class="form-control" name="name" id="id_name" placeholder="{% blocktrans %}Picture name{% endblocktrans %}" required maxlength="100" >
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>	

	                <div class="form-group" style=
	                'display: none;'>
                    	<label for="id_image">{% trans "Image:" %}</label>
                    	<div class="input-group">
	                        <input type="file" class="form-control" name="image" id="id_image" placeholder="Image" title="{% blocktrans %}Select the file here{% endblocktrans %}" required data-filename-placement="inside">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>	
	                <div class="form-group">
                   	<label for="id_categories">{% trans "Categories:" %}</label>
                    	<div class="input-group" style="width: 100%">
	                        <select multiple class="form-control" id="id_categories" name="categories"  size="6" value="{{form.categories.value}}">
	                        	{% for category in form.categories.value %}
	                        		<option value="{{category.id}}">{{category.name}}</option>
	                        	{% endfor %}
							</select>
							<span class="input-group-addon btn btn-default" id="AddCategoryModalBtn"><span class="fa fa-plus fa-lg text-success"></span></span>
	                    </div>
	                </div>
	                <!-- <div class="form-group">  
				    	<label for="CategoryLabel" class="control-label">{% trans "Categories:" %}</label>
				    	<div class="input-group">
		                    <input type="text" autocomplete="off" data-provide="typeahead" class="form-control typeahead" name="cat_name" id="cat_name" placeholder="{% blocktrans %}Type category here{% endblocktrans %}" required maxlength="" >
		                    <span class="input-group-addon addItem" onclick="AddCategory()"><span class="fa fa-plus text-success " ></span></span>
		                </div>
				    	
				      	<ul class="list-group" id="categories_list">
				      		
						
						    
						</ul>
					</div>-->	

	                <div class="form-group">
			        	<label for="id_tags">{% trans "Tags:" %}</label>
			        	<div class="input-group">
			                <input type="text" autocomplete="off" data-provide="typeahead" class="form-control typeahead" name="tag_name" id="tag_name" placeholder="{% blocktrans %}Type tag here{% endblocktrans %}" required maxlength="" >
			                <span class="input-group-addon addItem" onclick="AddTag()"><span class="fa fa-plus text-success " ></span></span>
			            </div>
			            <br> 
			            <div class="input-group" id="tag_group">
			        		<input type="text" data-role="tagsinput" class="form-control disable" name="tag_names" id="tag_names" readonly>
			        	</div>
			        </div>				    
                    <button type="button" class="btn btn-primary pull-left btnDelete">{% trans "Delete" %}</button>

				    <input type="button" id="btnFinish" value="{% blocktrans %}Save changes{% endblocktrans %}" class="btn btn-primary pull-right" />
				</form>
				<br />
				<br />
				<br />
				</div>
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-12">
    			<h3>&nbsp;</h3>
    			<br />
    		</div>
    	</div>
    	<div class="row">

    		<div class="col-md-11 col-md-offset-1">
    			
    			 <div class="well photo_backgr lifted img-pad polaroid-face"> 
    			<img src=""  class="img-responsive  img-thumbnail" id="UploadedImageFull">
			</div>
    		</div>
    	</div>
    	
	</div>
</div>
</div>
{% if not_completed %}

<input type="hidden" id="pic_uncompleted_id" value="{{not_completed.id}}">
<input type="hidden" id="pic_uncompleted_url" value="{{not_completed.url}}">
<input type="hidden" id="pic_uncompleted_deleteUrl" value="{{not_completed.deleteUrl}}">

{% endif %}
<script>
	//////////////
	///////
	//////////////
    function go_to_url(url) {
        window.location = url;
    }


    //////////////
	///////
	//////////////
	cats = [];
	proposed_cats = [];
	tags = [];
	proposed_tags = [];

    function addToCategories(cat) {
    	if($.grep(cats, function(e){ return e.id == cat.id; }).length > 0){
    		return; //already have
    	}else{
    		cats.push(cat);
    		$('#categories_list').append(function() {
			  return $('<li class="list-group-item" id="' + cat.id + '"><i class="fa fa-list-alt "></i>&nbsp; ' + cat.name + ' <i class="fa fa-minus-square-o fa-1.5x pull-right text-danger removeItem" id="' + cat.id + '"></i></li>').click(removeFromCategory);
			});
    	}
    }

    function addToTags(tag) {
    	if($.grep(tags, function(e){ return e.id == tag.id; }).length > 0){
    		return; //already have
    	}else{
    		$("#tag_group").show()
    		$('.bootstrap-tagsinput').children('input').hide();
    		tags.push(tag);
    		$('#tag_names').tagsinput('add', { id: tag.id, text: tag.name });
    	}
    }

    function removeFromCategory(e){
    	for (var i = 0; i < cats.length; i++) {
    		if(cats[i].id == event.target.id){
    			id = event.target.id;
    			$(this).remove();
    			cats = $.grep(cats, function(value) {
				  return value != cats[i];
				});
    			return;
    		}
    	};
    }

    function removeFromTags(item){
    	for (var i = 0; i < tags.length; i++) {
    		if(tags[i].id == item.id){
    			tags = $.grep(tags, function(value) {
				  return value != tags[i];
				});
    			return;
    		}
    	};
    }

    function exceptExisting(entity){
    	for (var i = 0; i < cats.length; i++) {
    		entity = $.grep(entity, function(value) {
			  	return value.id != cats[i].id;
			});
    	};
    	proposed_cats = entity;
    	return entity;
    }

    function exceptExistingTags(entity){
    	for (var i = 0; i < tags.length; i++) {
    		entity = $.grep(entity, function(value) {
			  	return value.id != tags[i].id;
			});
    	};
    	proposed_tags = entity;
    	return entity;
    }

    function AddCategory(){
    	cat_val = $(".typeahead").val();
    	if($.grep(cats, function(e){ return e.name.toLowerCase() == cat_val.toLowerCase(); }).length > 0){
    		//already have
    		return;
    	}else{
    		AddNewCategory(cat_val);
    	}
    }

    function AddTag(){
    	cat_val = $("#tag_name").val();
    	if($.grep(tags, function(e){ return e.name.toLowerCase() == cat_val.toLowerCase(); }).length > 0){
    		//already have
    		return;
    	}else{
    		AddNewTag(cat_val);
    	}
    }

    function AddNewCategory(name){
    	var cName = name
		  	$.ajax({
		    	url : "/care/addcategory/",
		    	type : "POST",
		    	data : JSON.stringify({"category_name" : encodeURIComponent(cName)}),
		    	contentType: 'application/json; charset=utf-8',
		    	success : function(results){
		      		if (results.success == "true") {
		      			$('#upload_warning').text('');
		      			$('#upload_warning').hide();
		      			cat_val = $(".typeahead").val('');
		      			addToCategories({ id: results.val, name: results.name });
		        	//handle DOM insertion and other stuff
		      		} else {
		      			$('#upload_warning').show();
		      			$('#upload_warning').text(results.message);
		      		}
	    		}
	  		});
    }

    function AddNewTag(name){
    	var cName = name
		  	$.ajax({
		    	url : "/care/addtag/",
		    	type : "POST",
		    	data : JSON.stringify({"tag_name" : encodeURIComponent(cName)}),
		    	contentType: 'application/json; charset=utf-8',
		    	success : function(results){
		      		if (results.success == "true") {
		      			$('#upload_warning').text('');
		      			$('#upload_warning').hide();
		      			cat_val = $("#tag_name").val('');
		      			addToTags({ id: results.val, name: results.name });
		        	//handle DOM insertion and other stuff
		      		} else {
		      			$('#upload_warning').show();
		      			$('#upload_warning').text(results.message);
		      		}
	    		}
	  		});
    }

    $( document ).ready(function() {
    	$.ajaxSetup({
            headers: { "X-CSRFToken": $.cookie("csrftoken") }
        });

	    $("#cat_name").typeahead({
		    source: function (query, process) {
		        return $.get('/care/getcategory/', { query: query }, function (data) {
		            return process(exceptExisting(data.entity));
		        });
		    },
		    updater: function(item) {
				addToCategories(item);

		        console.log(item);
		        return '';
		    }
		});

		$("#tag_name").typeahead({
		    source: function (query, process) {
		        return $.get('/care/gettag/', { query: query }, function (data) {
		            return process(exceptExistingTags(data.entity));
		        });
		    },
		    updater: function(item) {
				addToTags(item);

		        console.log(item);
		        return '';
		    }
		});

		$("#tag_names").tagsinput({
		    itemValue: 'id',
		    itemText: 'text'
		});

		$("#tag_names").on('beforeItemRemove', function(event) {
			removeFromTags(event.item);
		});

		$("#tag_group").hide();

        //NOT COMPLETED PICTURES
        if($('#pic_uncompleted_id') && $('#pic_uncompleted_id').val()){
            OnImageLoaded($('#pic_uncompleted_url').val(), $('#pic_uncompleted_id').val(), $('#pic_uncompleted_deleteUrl').val());
        }
	});


	//////////////
	///////
	//////////////
	var jcrop_api,
        boundx,
        boundy;
	var leftc, topc, rightc, bottomc, id_p, d_url;	

	$preview = $('#preview-pane'),
    $pcnt = $('#preview-pane .preview-container'),
    $pimg = $('#preview-pane .preview-container img'),

    xsize = $pcnt.width(),
    ysize = $pcnt.height();

	function OnImageLoaded(url, id, dUrl){
        d_url = dUrl;
		id_p = id;
        if(jcrop_api){
            jcrop_api.destroy();
        }
		$('#upload_warning').hide();
		$('#UploadedImage').attr('src', url+"?"+new Date().getTime());
		$('#UploadedImageFull').attr('src', url+"?"+new Date().getTime());
		$('#ThumbImage').attr('src', url+"?"+new Date().getTime());
        $('#UploadStep').hide(400, function(){
        	 $('#ThumbStep').show(400, function(){
        		$('#UploadedImage').Jcrop({
			        onChange:   showCoords,
			        onSelect:   showCoords,
			        aspectRatio: 1 / 1,
			        minSize: [100, 100]
			    },function(){
			    	// Use the API to get the real image size
				      var bounds = this.getBounds();
                      console.log("Bounds:");
				      boundx = bounds[0];
                      console.log("x:"+boundx);
                      console.log("orginal x="+$('#UploadedImage').width());
				      boundy = bounds[1];
                      console.log("y:"+boundy);
                      console.log("orgonal y="+$('#UploadedImage').height());

			        jcrop_api = this;

			        jcrop_api.setSelect(getRandom());

			        // Move the preview into the jcrop container for css positioning
      				$preview.appendTo(jcrop_api.ui.holder);
                    $('.preview-container img').attr('src', url+"?"+new Date().getTime());
			    });
        	});
        }); 
	}

	function getRandom() {
		var dim = jcrop_api.getBounds();
		return [
			Math.round(0.15 * dim[0]),
			Math.round(0.15 * dim[1]),
			Math.round(0.5 * dim[0]),
			Math.round(0.5 * dim[1])
		];
	};

	function showCoords(c)
	{
		if (parseInt(c.w) > 0)
	    {
	      	xs = $('#UploadedImage').width(),
	        ys = $('#UploadedImage').height();

	        leftc = (c.x/xs);
	        topc = (c.y/ys);
	        rightc = (c.x2/xs);
	        bottomc = (c.y2/ys);

	        //console.log('x1:' + c.x + '; y1:' + c.y + '; x2:' + c.x2 + '; y2:' + c.y2 + '; w:' + c.w + '; h:' + c.h);
	  		//Prview
	  		var rx = xsize / c.w;
	        var ry = ysize / c.h;

	        $pimg.css({
	          width: Math.round(rx * boundx) + 'px',
	          height: Math.round(ry * boundy) + 'px',
	          marginLeft: '-' + Math.round(rx * c.x) + 'px',
	          marginTop: '-' + Math.round(ry * c.y) + 'px'
	        });
	     }
	};

	$(document).on('click','#BtnSendThumb',function(e){
	  	$.ajax({
	    	url : "/care/addthumb/",
	    	type : "POST",
	    	data : JSON.stringify({"left" : leftc, "top" : topc, 'right': rightc, 'bottom': bottomc, 'pic_id': id_p}),
	    	contentType: 'application/json; charset=utf-8',
	    	success : function(results){
	      		if (results.success == "true") {
	      			$('#upload_warning').hide();
	      			$('#ThumbStep').hide(400, function(){
	      				$('#FillStep').show(400, function(){});
	      			});
	        	//handle DOM insertion and other stuff
	      		} else {
	      			$('#upload_warning').show();
	      			$('#upload_warning').text(results.message);
	      		}
    		}
  		});
	});

	$(document).on('click','#AddCategoryModalBtn',function(e){
		$('#myModal').modal('show');
		    $('#myModal').on('shown', function() {
		        $("#id_cat_name").focus();
		    })
	});

	$(document).on('click','#btnFinish',function(e){
		catsIds = $('#id_categories').val();


		tagsIds = [];
		if(tags){
			for (var i = 0; i < tags.length; i++) {
				tagsIds.push(tags[i].id);
			};
		}
	  	$.ajax({
	    	url : "/care/adddescription/",
	    	type : "POST",
	    	data : JSON.stringify({"pic_name" : encodeURIComponent($('#id_name').val()), 
	    		"pic_cats" : catsIds, 
	    		"pic_tags" : tagsIds, 
	    		'pic_id': id_p}),
	    	contentType: 'application/json; charset=utf-8',
	    	success : function(results){
	      		if (results.success == "true") {
	      			$('#upload_warning').hide();
	      			go_to_url('/care/detail');
	      		} else {
	      			$('#upload_warning').show();
	      			$('#upload_warning').text(results.message);
	      		}
    		}
  		});
	});

    $(document).on('click','.btnDelete',function(e){
        $.ajax({
            url : d_url,
            type : "POST",
            contentType: 'application/json; charset=utf-8',
            success : function(data){
                results = JSON.parse(data)
                if (results.success == "true") {
                    $('#upload_warning').hide();
                    go_to_url('/care/detail');
                } else {
                    $('#upload_warning').show();
                    $('#upload_warning').text(results.message);
                }
            }
        });
    });

    $(document).on('click','.rotate-left',function(e){
        $.ajax({
            url : "/care/rotatephoto/",
            type : "POST",
            data : JSON.stringify({"pic_id" : id_p, "angle": "left"}),
            contentType: 'application/json; charset=utf-8',
            success : function(data){
                results = data;
                if (results.success == "true") {
                    $('#upload_warning').hide();
                    $('#ThumbStep').hide(400);
                    setTimeout(function(){
                        OnImageLoaded($('#UploadedImage').attr('src'), id_p, d_url);
                    }, 1000);
                } else {
                    $('#upload_warning').show();
                    $('#upload_warning').text(results.message);
                }
            }
        });
    });

    $(document).on('click','.rotate-right',function(e){
        $.ajax({
            url : "/care/rotatephoto/",
            type : "POST",
            data : JSON.stringify({"pic_id" : id_p, "angle": "right"}),
            contentType: 'application/json; charset=utf-8',
            success : function(data){
                results = data;
                if (results.success == "true") {
                    $('#upload_warning').hide();
                    $('#ThumbStep').hide(400);
                    setTimeout(function(){
                        OnImageLoaded($('#UploadedImage').attr('src'), id_p, d_url);
                    }, 1000);
                } else {
                    $('#upload_warning').show();
                    $('#upload_warning').text(results.message);
                }
            }
        });
    });

    $(document).on('click', '.dropdown-toggle', function(e){
        $('.dropdown').toggleClass('open');
    });

	$(document).on('click','#BtnSendCategory',function(e){
    	var cName = $("#id_cat_name").val();
    	$.ajax({
 		    	url : "/care/addcategory/",
 		    	type : "POST",
 		    	data : JSON.stringify({"category_name" : encodeURIComponent(cName)}),
 		    	contentType: 'application/json; charset=utf-8',
 		    	success : function(results){
 		      		if (results.success == "true") {
		      			$('#id_categories')
					         .append($("<option></option>")
					         .attr("value",results.val)
					         .attr("selected","selected")
					         .text(results.name));
		      			$('#cat_warning').text('');
		      			$('#cat_warning').hide();
		      			$('#myModal').modal('hide');
		      			cat_val = $(".typeahead").val('');
		      			addToCategories({ id: results.val, name: results.name });
 		        	//handle DOM insertion and other stuff
 		      		} else {
		      			$('#cat_warning').show();
		      			$('#cat_warning').text(results.message);
 		      		}
 	    		}
 	  		});
	});


</script>
{% endif %}


{% endblock %}