{% extends 'care/base.html' %}

{% block header %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="#">ATO.care</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	        	<li>
	        		<a href="/care/detail"><i class="fa fa-image fa-lg"></i> My pictures</a>
	        	</li>
	        	<li>
	        		<a href="/care/myinfo"><i class="fa fa-user fa-lg"></i> My info</a>
	        	</li>
	        	<li  class="active">
	        		<a href="/care/upload"><i class="fa fa-upload fa-lg"></i> Upload</a>
	        	</li>
	        </ul>
	      
	        <ul class="nav navbar-nav navbar-right">
	        		
	          	<li><a href="/care/myinfo">{{ user.get_username }}</a></li>
	        		
	        	<li><a href="/care/logout" class="navbar-link">Logout <i class="fa fa-sign-out fa-lg"></i> </a></li>
	      	    
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-12">
    			<h2>Upload a new image:</h2>
    			<br />
				<form action="/care/upload/" method="post" role="form" enctype="multipart/form-data">
				    {% csrf_token %}
				    {% if form.errors %}
					<p>{{form.errors}}</p>
					{% endif %}
				    <div class="form-group">
                    	<label for="id_picture_name">Picture name:</label>
                    	<div class="input-group">
	                        <input type="text" class="form-control" name="picture_name" id="id_picture_name" placeholder="Picture name" required maxlength="100" >
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>	

	                <div class="form-group">
                    	<label for="id_image">Image:</label>
                    	<div class="input-group">
	                        <input type="file" class="form-control" name="image" id="id_image" placeholder="Image" title="Select the file here" required data-filename-placement="inside">
	                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
	                    </div>
	                </div>	

	                <div class="form-group">
                    	<label for="id_categories">Categories:</label>
                    	<div class="input-group" style="width: 100%">
	                        <select multiple class="form-control" id="id_categories" name="categories"  size="6" value="{{form.categories.value}}">
	                        	{% for category in form.categories.value %}
	                        		<option value="{{category.id}}">{{category.category_name}}</option>
	                        	{% endfor %}
							</select>
	                    </div>
	                </div>

	                <div class="form-group">
                    	<label for="id_tags">Tags:</label>
                    	<div class="input-group"  style="width: 100%">
	                        <select multiple class="form-control" id="id_tags" name="tags"  size="6">
	                        	{% for tag in form.tags.value %}
	                        		<option value="{{tag.id}}">{{tag.tag_name}}</option>
	                        	{% endfor %}
							</select>
	                    </div>
	                </div>				    

				    <!--{{ form }}-->
				    <input type="submit" value="Submit" class="btn btn-info pull-right" />
				</form>
				<br />
				<br />
				<br />
			</div>
		</div>
    </div>
    <div class="col-md-6">
    	<div class="row">
    		<div class="col-md-1">
    		</div>
    		<div class="col-md-11">
    			<h3>Please take your attention to:</h3>
    			<ul>
    				<li>The image must be minimum in HD definition (1280x760px)</li>
    				<li>The image can't contain pornography, pedophilia and other bad content</li>
    				<li>The image can't breach copyright</li>
    				<li>...</li>
    			</ul>
    			
    		</div>
    	</div>
    	
	</div>
</div>

<script>
    function go_to_url(url) {
        window.location = url;
    }
</script>
{% endblock %}